/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         13.3.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@font-face {
	font-family: 'NoNumber';
	src: url('nonumber.eot');
	src: url('nonumber.eot?#iefix') format('embedded-opentype'), url('nonumber.svg#nonumber') format('svg'), url('nonumber.woff') format('woff'), url('nonumber.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon-nonumber {
	width: 16px !important;
}
.icon-nonumber:before {
	font-family: 'NoNumber' !important;
	font-size: 16px !important;
	font-style: normal;
	content: "a";
	vertical-align: -2px;
}
.btn .icon-nonumber {
	text-indent: -2px;
}
.btn .icon-nonumber:before {
	vertical-align: -3px;
}
.icon-addtomenu:before {
	content: "b";
}
.icon-adminbardocker:before {
	content: "c";
}
.icon-advancedmodulemanager:before {
	content: "d";
}
.icon-articlesanywhere:before {
	content: "e";
}
.icon-betterpreview:before {
	content: "f";
}
.icon-cachecleaner:before {
	content: "g";
}
.icon-cdnforjoomla:before {
	content: "h";
}
.icon-contenttemplater:before {
	content: "i";
}
.icon-customenu:before {
	content: "j";
}
.icon-dbreplacer:before {
	content: "k";
}
.icon-modals:before,
.icon-modalizer:before{
	content: "l";
}
.icon-modulesanywhere:before {
	content: "m";
}
.icon-rereplacer:before {
	content: "n";
}
.icon-sliders:before,
.icon-slider:before{
	content: "o";
}
.icon-snippets:before {
	content: "p";
}
.icon-sourcerer:before {
	content: "q";
}
.icon-tabs:before,
.icon-tabber:before{
	content: "r";
}
.icon-timedstyles:before {
	content: "s";
}
.icon-tooltips:before {
	content: "t";
}
.icon-whatnothing:before {
	content: " ";
	width: 16px;
	display: inline-block;
}
