/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         13.3.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@import "init.less";
@import "font.less";

.nn_tablelist {
	td {
		height: 22px;
		color: @gray;
	}
	td.has-context {
		height: 23px;
	}
}
.nn_code {
	#font > #family > .monospace;
	color: @grayLight;
}
div.nn_well {
	padding-bottom: 0;
	h4 {
		margin-top: 6px;
	}
}
.nn_well.alert-success,
.nn_well.alert-error {
	color: @grayDark;
}
.nn_btn-ignore.btn-danger.active {
	.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
}
.nn_btn-exclude.btn-success.active {
	.buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
.nn_textarea {
	.box-sizing(border-box);
}
.icon-back:before {
	content: "\e008";
}
