/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         13.3.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         13.3.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@font-face {
  font-family: 'NoNumber';
  src: url('nonumber.eot');
  src: url('nonumber.eot?#iefix') format('embedded-opentype'), url('nonumber.svg#nonumber') format('svg'), url('nonumber.woff') format('woff'), url('nonumber.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon-nonumber {
  width: 16px !important;
}
.icon-nonumber:before {
  font-family: 'NoNumber' !important;
  font-size: 16px !important;
  font-style: normal;
  content: "a";
  vertical-align: -2px;
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.btn .icon-nonumber:before {
  vertical-align: -3px;
}
.icon-addtomenu:before {
  content: "b";
}
.icon-adminbardocker:before {
  content: "c";
}
.icon-advancedmodulemanager:before {
  content: "d";
}
.icon-articlesanywhere:before {
  content: "e";
}
.icon-betterpreview:before {
  content: "f";
}
.icon-cachecleaner:before {
  content: "g";
}
.icon-cdnforjoomla:before {
  content: "h";
}
.icon-contenttemplater:before {
  content: "i";
}
.icon-customenu:before {
  content: "j";
}
.icon-dbreplacer:before {
  content: "k";
}
.icon-modals:before,
.icon-modalizer:before {
  content: "l";
}
.icon-modulesanywhere:before {
  content: "m";
}
.icon-rereplacer:before {
  content: "n";
}
.icon-sliders:before,
.icon-slider:before {
  content: "o";
}
.icon-snippets:before {
  content: "p";
}
.icon-sourcerer:before {
  content: "q";
}
.icon-tabs:before,
.icon-tabber:before {
  content: "r";
}
.icon-timedstyles:before {
  content: "s";
}
.icon-tooltips:before {
  content: "t";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}
.nn_tablelist td {
  height: 22px;
  color: #555555;
}
.nn_tablelist td.has-context {
  height: 23px;
}
.nn_code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #999999;
}
div.nn_well {
  padding-bottom: 0;
}
div.nn_well h4 {
  margin-top: 6px;
}
.nn_well.alert-success,
.nn_well.alert-error {
  color: #333333;
}
.nn_btn-ignore.btn-danger.active {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-ignore.btn-danger.active:hover,
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active,
.nn_btn-ignore.btn-danger.active.disabled,
.nn_btn-ignore.btn-danger.active[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active {
  background-color: #cccccc \9;
}
.nn_btn-exclude.btn-success.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-exclude.btn-success.active:hover,
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active,
.nn_btn-exclude.btn-success.active.disabled,
.nn_btn-exclude.btn-success.active[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active {
  background-color: #942a25 \9;
}
.nn_textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.icon-back:before {
  content: "\e008";
}
