.icon-48-s {
      background-image: url(../images/l_s.png);
      padding-left:60px!important;
}

.icon-48-coord {
      background-image: url(../images/l_s.png);
      padding-left:60px!important;
}

.icon-32-preferences{ 
	background-image: url(../toolbar/icon-32-system.png); 
}

/* THIS WILL BE THE LOADING ICON */
.loading{
	width: 100%;
	height:20px;
	background-image: url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position: center;
	visibility:hidden;	
}

.styled-select{
   background: transparent;
   padding: 3px;
   font-size: 11px;
   border: 1px solid #CCC;
   -moz-border-radius:1px;
   -webkit-border-radius:1px;   
   border-radius:3px;
   margin-left:3px;
}

.styled-select:hover{
	background-color:#e8f6fe;
}

.button_rdsubs {
	background-color:#FFF;
	border: 1px solid #CCC;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	font-weight:bold;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:3px 8px 3px 8px;;
	text-decoration:none;
	margin:3px;
}

.button_rdsubs:hover {
	background-color:#e8f6fe;
	border: 1px solid #CCC;
	color:#000000;
	
}.button_rdsubs:active {
	position:relative;
	top:1px;
}

.button_seatchart {
	background-color:#e8f6fe;
	text-decoration:none;
	border: 1px solid #CCC;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	background-image: url(../images/s_com_ticketmasterext.png);
	background-repeat:no-repeat;
	background-position:3px center;
	font-weight:bold;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:3px 8px 3px 23px;;
	margin-left:3px;
}

.button_seatchart:hover {
	background-color:#FFF;
	text-decoration:none;
	color:#333;
	
}.button_seatchart:active {
	position:relative;
	top:1px;
}

.button_seatproperties {
	background-color:#e8f6fe;
	text-decoration:none;
	border: 1px solid #CCC;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	width:22px;
	background-image: url(../images/save-icon.png);
	background-repeat:no-repeat;
	background-position:3px center;
	font-weight:bold;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:10px 0px 10px 0px;
}

.button_seatproperties:hover {
	background-color:#FFF;
	text-decoration:none;
	color:#333;
	
}.button_seatproperties:active {
	position:relative;
	top:1px;
}