/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

/*FLOAT*/
.cck-fl{float:left;}.cck-fr{float:right;}

/*LINE*/
div.cck-line-body,
div.cck-line-header,
div.cck-line-top,
div.cck-line-bottom,
div.cck-line-footer{float:left;overflow:hidden;position:relative; width:100%;}
div.cck-line-left{float:left;left:-50%;overflow:hidden;position:relative;}
div.cck-line-right{float:left;overflow:hidden;position:relative;}
div.cck-f100{overflow:hidden; position:relative; width:100%;}
div.cck-f200{width:200%; float:left;}	
div.cck-m50{float:left;left:50%;position:relative;width:50%;}
div.cck-m100{left:-100%;position:relative;}

/*PADDING*/
div.cck-pad-0 .cck-plr{padding-left:0px;padding-right:0px;}div.cck-pad-0 .cck-ptb{padding-top:0px;padding-bottom:0px;}div.cck-pad-0 .cck-pb{padding-bottom:0px;}div.cck-pad-0 .cck-pt{padding-top:0px;}div.cck-pad-2 .cck-plr{padding-left:1px;padding-right:1px;}div.cck-pad-2 .cck-ptb{padding-top:1px;padding-bottom:1px;}div.cck-pad-2 .cck-pb{padding-bottom:2px;}div.cck-pad-2 .cck-pt{padding-top:2px;}div.cck-pad-3 .cck-plr{padding-left:2px;padding-right:1px;}div.cck-pad-3 .cck-ptb{padding-top:2px;padding-bottom:1px;}div.cck-pad-3 .cck-pb{padding-bottom:3px;}div.cck-pad-3 .cck-pt{padding-top:3px;}div.cck-pad-4 .cck-plr{padding-left:2px;padding-right:2px;}div.cck-pad-4 .cck-ptb{padding-top:2px;padding-bottom:2px;}div.cck-pad-4 .cck-pb{padding-bottom:4px;}div.cck-pad-4 .cck-pt{padding-top:4px;}div.cck-pad-5 .cck-plr{padding-left:3px;padding-right:2px;}div.cck-pad-5 .cck-ptb{padding-top:3px;padding-bottom:2px;}div.cck-pad-5 .cck-pb{padding-bottom:5px;}div.cck-pad-5 .cck-pt{padding-top:5px;}div.cck-pad-6 .cck-plr{padding-left:3px;padding-right:3px;}div.cck-pad-6 .cck-ptb{padding-top:3px;padding-bottom:3px;}div.cck-pad-6 .cck-pb{padding-bottom:6px;}div.cck-pad-6 .cck-pt{padding-top:6px;}div.cck-pad-7 .cck-plr{padding-left:3px;padding-right:4px;}div.cck-pad-7 .cck-ptb{padding-top:3px;padding-bottom:4px;}div.cck-pad-7 .cck-pb{padding-bottom:7px;}div.cck-pad-7 .cck-pt{padding-top:7px;}div.cck-pad-8 .cck-plr{padding-left:4px;padding-right:4px;}div.cck-pad-8 .cck-ptb{padding-top:4px;padding-bottom:4px;}div.cck-pad-8 .cck-pb{padding-bottom:8px;}div.cck-pad-8 .cck-pt{padding-top:8px;}div.cck-pad-9 .cck-plr{padding-left:4px;padding-right:5px;}div.cck-pad-9 .cck-ptb{padding-top:4px;padding-bottom:5px;}div.cck-pad-9 .cck-pb{padding-bottom:9px;}div.cck-pad-9 .cck-pt{padding-top:9px;}div.cck-pad-10 .cck-plr{padding-left:5px;padding-right:5px;}div.cck-pad-10 .cck-ptb{padding-top:5px;padding-bottom:5px;}div.cck-pad-10 .cck-pb{padding-bottom:10px;}div.cck-pad-10 .cck-pt{padding-top:10px;}div.cck-pad-11 .cck-plr {padding-left: 5px;padding-right: 6px;}div.cck-pad-11 .cck-ptb {padding-bottom: 6px;padding-top: 5px;}div.cck-pad-12 .cck-plr {padding-left: 6px;padding-right: 6px;}div.cck-pad-12 .cck-ptb {padding-bottom: 6px;padding-top: 6px;}div.cck-pad-13 .cck-plr {padding-left: 6px;padding-right: 7px;}div.cck-pad-13 .cck-ptb {padding-bottom: 7px;padding-top: 6px;}div.cck-pad-14 .cck-plr {padding-left: 7px;padding-right: 7px;}div.cck-pad-14 .cck-ptb {padding-bottom: 7px;padding-top: 7px;}div.cck-pad-15 .cck-plr {padding-left: 7px;padding-right: 8px;}div.cck-pad-15 .cck-ptb {padding-bottom: 8px;padding-top: 7px;}div.cck-pad-16 .cck-plr {padding-left: 8px;padding-right: 8px;}div.cck-pad-16 .cck-ptb {padding-bottom: 8px;padding-top: 8px;}div.cck-pad-17 .cck-plr {padding-left: 8px;padding-right: 9px;}div.cck-pad-17 .cck-ptb {padding-bottom: 9px;padding-top: 8px;}div.cck-pad-18 .cck-plr {padding-left: 9px;padding-right: 9px;}div.cck-pad-18 .cck-ptb {padding-bottom: 9px;padding-top: 9px;}div.cck-pad-19 .cck-plr {padding-left: 9px;padding-right: 10px;}div.cck-pad-19 .cck-ptb {padding-bottom: 10px;padding-top: 9px;}div.cck-pad-20 .cck-plr {padding-left: 10px;padding-right: 10px;}div.cck-pad-20 .cck-ptb {padding-bottom: 10px;padding-top: 10px;}
.cck-pad-1 > div{margin-left:-1px;margin-right:0px;}.cck-pad-2 > div{margin-left:-1px;margin-right:-1px;}.cck-pad-3 > div{margin-left:-2px;margin-right:-1px;}.cck-pad-4 > div{margin-left:-2px;margin-right:-2px;}.cck-pad-5 > div{margin-left:-3px;margin-right:-2px;}.cck-pad-6 > div{margin-left:-3px;margin-right:-3px;}.cck-pad-7 > div{margin-left:-4px;margin-right:-3px;}.cck-pad-8 > div{margin-left:-4px;margin-right:-4px;}.cck-pad-9 > div{margin-left:-5px;margin-right:-4px;}.cck-pad-10 > div{margin-left:-5px;margin-right:-5px;}
.cck-pad-11 > div{margin-left:-6px;margin-right:-5px;}.cck-pad-12 > div{margin-left:-6px;margin-right:-6px;}.cck-pad-13 > div{margin-left:-7px;margin-right:-6px;}.cck-pad-14 > div{margin-left:-7px;margin-right:-7px;}.cck-pad-15 > div{margin-left:-8px;margin-right:-7px;}.cck-pad-16 > div{margin-left:-8px;margin-right:-8px;}.cck-pad-17 > div{margin-left:-9px;margin-right:-8px;}.cck-pad-18 > div{margin-left:-9px;margin-right:-9px;}.cck-pad-19 > div{margin-left:-10px;margin-right:-9px;}.cck-pad-20 > div{margin-left:-10px;margin-right:-10px;}
/* to:remove; */
div.cck-pad-8 div.cck-pad-0 .cck-plr{padding-left:0px;padding-right:0px;}div.cck-pad-8 div.cck-pad-0 .cck-ptb{padding-top:0px;padding-bottom:0px;}div.cck-pad-8 div.cck-pad-0 .cck-pb{padding-bottom:0px;}div.cck-pad-8 div.cck-pad-0 .cck-pt{padding-top:0px;}

/*WIDTH*/
.cck-w1{width:1%;}.cck-w2{width:2%;}.cck-w3{width:3%;}.cck-w4{width:4%;}.cck-w5{width:5%;}.cck-w6{width:6%;}.cck-w7{width:7%;}.cck-w8{width:8%;}.cck-w9{width:9%;}.cck-w10{width:10%;}.cck-w11{width:11%;}.cck-w12{width:12%;}.cck-w13{width:13%;}.cck-w14{width:14%;}.cck-w15{width:15%;}.cck-w16{width:16%;}.cck-w17{width:17%;}.cck-w18{width:18%;}.cck-w19{width:19%;}.cck-w20{width:20%;}.cck-w21{width:21%;}.cck-w22{width:22%;}.cck-w23{width:23%;}.cck-w24{width:24%;}.cck-w25{width:25%;}.cck-w26{width:26%;}.cck-w27{width:27%;}.cck-w28{width:28%;}.cck-w29{width:29%;}.cck-w30{width:30%;}.cck-w31{width:31%;}.cck-w32{width:32%;}.cck-w33{width:33%;}.cck-w34{width:34%;}.cck-w35{width:35%;}.cck-w36{width:36%;}.cck-w37{width:37%;}.cck-w38{width:38%;}.cck-w39{width:39%;}.cck-w40{width:40%;}.cck-w41{width:41%;}.cck-w42{width:42%;}.cck-w43{width:43%;}.cck-w44{width:44%;}.cck-w45{width:45%;}.cck-w46{width:46%;}.cck-w47{width:47%;}.cck-w48{width:48%;}.cck-w49{width:49%;}.cck-w50{width:50%;}.cck-w51{width:51%;}.cck-w52{width:52%;}.cck-w53{width:53%;}.cck-w54{width:54%;}.cck-w55{width:55%;}.cck-w56{width:56%;}.cck-w57{width:57%;}.cck-w58{width:58%;}.cck-w59{width:59%;}.cck-w60{width:60%;}.cck-w61{width:61%;}.cck-w62{width:62%;}.cck-w63{width:63%;}.cck-w64{width:64%;}.cck-w65{width:65%;}.cck-w66{width:66%;}.cck-w67{width:67%;}.cck-w68{width:68%;}.cck-w69{width:69%;}.cck-w70{width:70%;}.cck-w71{width:71%;}.cck-w72{width:72%;}.cck-w73{width:73%;}.cck-w74{width:74%;}.cck-w75{width:75%;}.cck-w76{width:76%;}.cck-w77{width:77%;}.cck-w78{width:78%;}.cck-w79{width:79%;}.cck-w80{width:80%;}.cck-w81{width:81%;}.cck-w82{width:82%;}.cck-w83{width:83%;}.cck-w84{width:84%;}.cck-w85{width:85%;}.cck-w86{width:86%;}.cck-w87{width:87%;}.cck-w88{width:88%;}.cck-w89{width:89%;}.cck-w90{width:90%;}.cck-w91{width:91%;}.cck-w92{width:92%;}.cck-w93{width:93%;}.cck-w94{width:94%;}.cck-w95{width:95%;}.cck-w96{width:96%;}.cck-w97{width:97%;}.cck-w98{width:98%;}.cck-w99{width:99%;}.cck-w100{width:100%;}
.cck-w16f,.cck-w17f{width:16.66%;}.cck-w33f,.cck-w34f{width:33.33%;}

/*CLEAR*/
.cck-clear{clear:both;}
.cck-clear-left{clear:left;}
.cck-clrfix:before, .cck-clrfix:after { content:""; display:table;}
.cck-clrfix:after {clear:both;}
.cck-clrfix {zoom:1;} /*IE 6/7*/

/*STATES*/
.cck-hide{display:none;} .cck-hidden{visibility:hidden;}

div.vertical div.left,div.horizontal div.legend.left{text-align:left; float:none; width:auto;}
div.vertical div.center,div.horizontal div.legend.center{text-align:center; float:none; width:auto;}
div.vertical div.right,div.horizontal div.legend.right{text-align:right; float:none; width:auto;}
