/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

/* Large desktop */
/* @media (min-width: 1200px) {} */

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width: 979px) {} */

/* Landscape phone to portrait tablet */
/* @media (max-width: 767px) {} */

/* Landscape phones and down */
/* @media (max-width: 480px) {} */

/* Only Tablets (portrait) and Phones (landscape) */
@media (min-width: 481px) and (max-width: 959px) {
	.cck-w10,
	.cck-w11,
	.cck-w12,
	.cck-w13,
	.cck-w14,
	.cck-w15,
 /*	.cck-w16,
	.cck-w17, */
	.cck-w18,
	.cck-w19,
	.cck-w20,
	.cck-w21,
	.cck-w22,
	.cck-w23,
	.cck-w24,
	.cck-w25,
	.cck-w26,
	.cck-w27,
	.cck-w28,
	.cck-w29,
	.cck-w31,
	.cck-w32,
	.cck-w33,
	.cck-w34,
	.cck-w35,
	.cck-w36,
	.cck-w37,
	.cck-w38,
	.cck-w39,
	.cck-w40,
	.cck-w41,
	.cck-w42,
	.cck-w43,
	.cck-w44,
	.cck-w45,
	.cck-w46,
	.cck-w47,
	.cck-w48,
	.cck-w49,
	.cck-w50{width: 50%;}

	.cck-w51,
	.cck-w52,
	.cck-w53,
	.cck-w54,
	.cck-w55,
	.cck-w56,
	.cck-w57,
	.cck-w58,
	.cck-w59,
	.cck-w60,
	.cck-w61,
	.cck-w62,
	.cck-w63,
	.cck-w64,
	.cck-w65,
	.cck-w66,
	.cck-w67,
	.cck-w68,
	.cck-w69,
	.cck-w70,
	.cck-w71,
	.cck-w72,
	.cck-w73,
	.cck-w74,
	.cck-w75,
	.cck-w76,
	.cck-w77,
	.cck-w78,
	.cck-w79,
	.cck-w80,
	.cck-w81,
	.cck-w82,
	.cck-w83,
	.cck-w84,
	.cck-w85,
	.cck-w86,
	.cck-w87,
	.cck-w88,
	.cck-w89,
	.cck-w90,
	.cck-w91,
	.cck-w92,
	.cck-w93,
	.cck-w94,
	.cck-w95,
	.cck-w96,
	.cck-w97,
	.cck-w98,
	.cck-w99{width: 100%;}

	.cck-w17{width:33.33%;}
	.cck-w16{width:33.33%;}	
}

/* Only Phones (portrait) */
@media (max-width: 480px) {
	.cck-w10,
	.cck-w11,
	.cck-w12,
	.cck-w13,
	.cck-w14,
	.cck-w15,
	.cck-w16,
	.cck-w17,
	.cck-w18,
	.cck-w19,
	.cck-w20,
	.cck-w21,
	.cck-w22,
	.cck-w23,
	.cck-w24,
	.cck-w25,
	.cck-w26,
	.cck-w27,
	.cck-w28,
	.cck-w29,
	.cck-w31,
	.cck-w32,
	.cck-w33,
	.cck-w34,
	.cck-w35,
	.cck-w36,
	.cck-w37,
	.cck-w38,
	.cck-w39,
	.cck-w40,
	.cck-w41,
	.cck-w42,
	.cck-w43,
	.cck-w44,
	.cck-w45,
	.cck-w46,
	.cck-w47,
	.cck-w48,
	.cck-w49,
	.cck-w50,
	.cck-w51,
	.cck-w52,
	.cck-w53,
	.cck-w54,
	.cck-w55,
	.cck-w56,
	.cck-w57,
	.cck-w58,
	.cck-w59,
	.cck-w60,
	.cck-w61,
	.cck-w62,
	.cck-w63,
	.cck-w64,
	.cck-w65,
	.cck-w66,
	.cck-w67,
	.cck-w68,
	.cck-w69,
	.cck-w70,
	.cck-w71,
	.cck-w72,
	.cck-w73,
	.cck-w74,
	.cck-w75,
	.cck-w76,
	.cck-w77,
	.cck-w78,
	.cck-w79,
	.cck-w80,
	.cck-w81,
	.cck-w82,
	.cck-w83,
	.cck-w84,
	.cck-w85,
	.cck-w86,
	.cck-w87,
	.cck-w88,
	.cck-w89,
	.cck-w90,
	.cck-w91,
	.cck-w92,
	.cck-w93,
	.cck-w94,
	.cck-w95,
	.cck-w96,
	.cck-w97,
	.cck-w98,
	.cck-w99,
	.cck-w100{width: 100%;}
}