/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

/*SITE ONLY*/
div.vertical,
div.horizontal{padding:0;}

/*INTRO GENERIQUE FONT SIZE*/
div.cck_contents.cck_intro div.cck_label,
div.cck_contents.cck_intro div.cck_value input,
div.cck_contents.cck_intro div.cck_value textarea,
div.cck_contents.cck_intro div.cck_value select,
div.cck_contents.cck_intro div.cck_value option,
div.cck_contents.cck_intro div.cck_value span,
div.cck_contents.cck_intro div.cck_desc
{font-size:1em;}

/*INTRO GENERIQUE LINE-HEIGHT*/
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor p{line-height:25px;}
div.cck_contents.cck_intro div.cck_label,
div.cck_contents.cck_intro div.cck_value
{line-height:30px;}

/*INTRO GENERIQUE FORM/LABEL/VALUE*/
div.vertical div.cck_contents{float:left;width:100%;}
div.horizontal div.cck_contents{float:left;padding-bottom:10px;width:auto;}
div.cck_contents.cck_intro div.cck_label{float:left;width:145px;}
div.cck_contents.cck_intro div.cck_form{float:left;width:auto;}
div.cck_contents.cck_intro div.cck_desc{clear:both;width:auto;}
div.cck_contents.cck_intro div.cck_desc p{ margin:8px 0px 0px 0px;}
div.vertical div.cck_contents.cck_intro div.cck_label { width: 145px; text-align: left; padding: 0px 0px 0px 0px; }
div.cck_contents.cck_intro div.cck_value span.variation_value{}

/*INTRO DIV.CLEAR*/
div.vertical div.clear{clear:none;}
div.horizontal div.clear{clear:both;}

/*INTRO GENERIQUE CALENDAR*/
div.cck_contents.cck_calendar{}
div.cck_contents.cck_intro div.cck_label.cck_label_calendar{}
div.cck_contents.cck_intro div.cck_value.cck_value_calendar{}
div.cck_contents.cck_intro div.cck_value.cck_value_calendar input.inputbox{float:left;}
div.cck_contents.cck_intro div.cck_value.cck_value_calendar img.calendar{border:1px solid #C0C0C0;border-radius:3px 3px 3px 3px;cursor:pointer;float:left;margin:0 0 0 5px;padding:4px;}

/*INTRO GENERIQUE CHECKBOX*/
div.cck_contents.cck_checkbox{}
div.cck_contents.cck_intro div.cck_label.cck_label_checkbox{}
div.cck_contents.cck_intro div.cck_value.cck_value_checkbox{}
div.cck_contents.cck_intro div.cck_value.cck_value_checkbox fieldset,
div.cck_contents.cck_intro div.cck_value.cck_value_checkbox fieldset.checkboxes{ border: none;margin:0;text-align:left;padding: 2px 0 2px 10px;}
div.cck_contents.cck_intro div.cck_value.cck_value_checkbox input.inputbox{float:left;}
div.cck_contents.cck_intro div.cck_value.cck_value_checkbox label{clear:none;display:block;float:left;line-height:190%;margin:0;padding-right:20px;}

/*INTRO GENERIQUE RADIO*/
div.cck_contents.cck_radio{}
div.cck_contents.cck_intro div.cck_label.cck_label_radio{}
div.cck_contents.cck_intro div.cck_value.cck_value_radio{}
div.cck_contents.cck_intro div.cck_value.cck_value_radio fieldset,
div.cck_contents.cck_intro div.cck_value.cck_value_radio fieldset.radio{ border: none;margin:0;text-align:left;padding: 2px 0 2px 10px;}
div.cck_contents.cck_intro div.cck_value.cck_value_radio input.inputbox{float:left;}
div.cck_contents.cck_intro div.cck_value.cck_value_radio label{clear:none;display:block;float:left;line-height:190%;margin:0;padding-right:20px;}

/*INTRO GENERIQUE RADIO IMAGE*/
div.cck_contents.cck_radio_image{}
div.cck_contents.cck_intro div.cck_label.cck_label_radio_image{}
div.cck_contents.cck_intro div.cck_value.cck_value_radio_image{}
div.cck_contents.cck_intro div.cck_value.cck_value_radio_image fieldset,
div.cck_contents.cck_intro div.cck_value.cck_value_radio_image fieldset.radio{ border: none;margin:0;text-align:left;padding: 2px 0 2px 10px;}
div.cck_contents.cck_intro div.cck_value.cck_value_radio_image input.inputbox{float:left;}
div.cck_contents.cck_intro div.cck_value.cck_value_radio_image label{clear:none;display:block;float:left;line-height:190%;margin:0;padding-right:20px;}

/*INTRO GENERIQUE COLORPICKER*/
div.cck_contents.cck_colorpicker{}
div.cck_contents.cck_intro div.cck_label.cck_label_colorpicker{}
div.cck_contents.cck_intro div.cck_value.cck_value_colorpicker{}

/*INTRO GENERIQUE SELECT SIMPLE*/
div.cck_contents.cck_select_simple{}
div.cck_contents.cck_intro div.cck_label.cck_label_select_simple{}
div.cck_contents.cck_intro div.cck_value.cck_value_select_simple{}

/*INTRO GENERIQUE SELECT MULTIPLE*/
div.cck_contents.cck_select_multiple{}
div.cck_contents.cck_intro div.cck_label.cck_label_select_multiple{}
div.cck_contents.cck_intro div.cck_value.cck_value_select_multiple{}

/*INTRO GENERIQUE SELECT NUMERIC*/
div.cck_contents.cck_select_numeric{}
div.cck_contents.cck_intro div.cck_label.cck_label_select_numeric{}
div.cck_contents.cck_intro div.cck_value.cck_value_select_numeric{}

/*INTRO GENERIQUE SELECT DYNAMIC*/
div.cck_contents.cck_select_dynamic{}
div.cck_contents.cck_intro div.cck_label.cck_label_select_dynamic{}
div.cck_contents.cck_intro div.cck_value.cck_value_select_dynamic{}

/*INTRO GENERIQUE TEXT*/
div.cck_contents.cck_text{}
div.cck_contents.cck_intro div.cck_label.cck_label_text{}
div.cck_contents.cck_intro div.cck_value.cck_value_text{}

/*INTRO GENERIQUE TEXTAREA*/
div.cck_contents.cck_textarea{}
div.cck_contents.cck_intro div.cck_label.cck_label_textarea{}
div.cck_contents.cck_intro div.cck_value.cck_value_textarea{}

/*INTRO GENERIQUE WYSIWYG*/
div.cck_contents.cck_wysiwyg_editor{}
div.cck_contents.cck_intro div.cck_label.cck_label_wysiwyg_editor{}
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor{ border:none;margin:0;text-align:left;padding: 0 0 10px 0; background:none; width:100%;}
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor div.cck_wysiwyg_editor_box{ background: #EEEEEE;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;line-height: 25px;width: 100px;}
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor a:link.wysiwyg_editor_box,
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor a:visited.wysiwyg_editor_box{ text-decoration:none; color:#146295; display:block;}
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor a:hover.wysiwyg_editor_box{text-decoration: none;}
div.cck_contents.cck_intro div.cck_value.cck_value_wysiwyg_editor div.cck_wysiwyg_editor_box a:hover.wysiwyg_editor_box{background: #ddd;}

/*CONTENT GENERIQUE GROUP*/
div.cck_contents.cck_group{}
div.cck_contents.cck_intro div.cck_label.cck_label_group{}
div.cck_contents.cck_intro div.cck_value.cck_value_group{float:left; width:100%;}

/*CONTENT GENERIQUE GROUP X*/
div.cck_contents.cck_group_x{}
div.cck_contents.cck_intro div.cck_label.cck_label_group_x{}
div.cck_contents.cck_intro div.cck_value.cck_value_group_x{float:left; width:100%;}

/*INTRO GENERIQUE FIELD X*/
div.cck_contents.cck_field_x{}
div.cck_contents.cck_intro div.cck_label.cck_label_field_x{}
div.cck_contents.cck_intro div.cck_value.cck_value_field_x{}
div.cck_contents.cck_intro div.cck_value.cck_value_field_x ul.adminformlist li{clear: both;}

/*INTRO GENERIQUE JFORM USER GROUP*/
div.cck_contents.cck_jform_usergroups{}
div.cck_contents.cck_intro div.cck_label.cck_label_jform_usergroups{}
div.cck_contents.cck_intro div.cck_value.cck_value_jform_usergroups{}
div.cck_contents.cck_intro div.cck_value.cck_value_jform_usergroups ul{ padding:0;}
div.cck_contents.cck_intro div.cck_value.cck_value_jform_usergroups ul li{list-style: none outside none;}
div.cck_contents.cck_intro div.cck_value.cck_value_jform_usergroups ul li input{float: left;
    margin: 1px 10px 10px 0;}
div.cck_contents.cck_intro div.cck_value.cck_value_jform_usergroups ul li label{}

/* TEMPORARY.. until a proper group markup */
ul.adminformlist, ul.adminformlist li {margin:0; padding:0; width:auto; list-style:none;}
div.vertical .adminformlist label, div.seblod .adminformlist label{width:145px; clear:left; display:block; float:left; margin:5px 0px 5px 0px; line-height:23px; height:30px;}