/*Do not add other styles to these floats*/
.left_float {
  float:left;
}
.right_float {
  float:right;
}
.left {
  float: left;
  margin: 0.5em 0.5em 0.5em 0;
}

.right {
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
}
/*End floats*/
#mainContent {
  margin: auto;
  width: 960px;
  clear: both;
}
#container {
  overflow: visible;
}
#mainContent {
  min-height: 500px;  
}

/*Banner settings*/
#bannerWrapper {
  background-color: #002147;
  margin: 0;
  min-height: 90px;
}
#topBannerBkgrd {
  background: #50161f;
  border-bottom: 1px solid #586a7e;
}
#midBannerBkgrd {
  background: #01234c;
  border-bottom: 1px solid #a9b4c0;
}
#midBanner .leftImage {
  float:left;
  line-height:normal;
  position:relative;
  z-index:1;
}
#midBanner .rightImage {
  float:right;
  line-height:normal;
  position:relative;
  z-index:1;
}
#print_logo_dept, #print_logo_uni {
  display:none;
}

#topBanner {
  background: #5a1923;
  border-left: 1px solid #602b34;
  border-right: 1px solid #602b34;
  text-align:right;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#topBanner form {
  display:inline;
}
#topBanner img {
  margin-right: 2px;
}
#topBanner a {
  margin: 0 2px 0 0;
}
#topBanner input {
  margin: 0.3em 1em 0.3em 1em;
}
#midBanner {
  /* background: #012959;*/
  border-left: 1px solid #183251;
  border-right: 1px solid #183251;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  z-index:1;
  position:relative;
}
#home_dept_logo {
  position:absolute;
  display:-moz-inline-stack;
  display: inline-block;
  width: 338px;
  height: 81px;
  border:0;
}
#home_uni_logo {
  position:absolute;
  display:-moz-inline-stack;
  display: inline-block;
  top: 85px;
  width: 338px;
  height: 81px;
  border:0;
}
#home_bkgrd_link {
  position:absolute; display:-moz-inline-stack; display: inline-block; left:340px; width: 620px; height: 168px; border:0;
}
#bottomBanner {
  float: left;
  line-height: normal;
  background: url(/templates/protostar/images/banner-nav-dot.jpg) 0 0 repeat-x;
  border-bottom: 1px solid #151c25;
  width: 99.9%;
  text-align: center;
}
#bottomBanner-menu {
  background: url(/templates/protostar/images/topnav-pipe.gif) no-repeat scroll left center;
  font-family:"Trebuchet MS",Helvetica,Verdana,Arial,sans-serif;
  height:35px;
  margin: auto;
  width:960px;
  text-transform: uppercase;
  padding: 0;
}
#bottomBanner-menu li {
  display:block;
  float:left;
  height:35px;
}
#bottomBanner-menu li a {
  background: url(/inc/img/nav/topnav-pipe.gif) no-repeat scroll right center;
  color:#FFFFFF;
  display:block;
  height:35px;
  line-height:35px;
  overflow:hidden;
  text-decoration:none !important;
}
#bottomBanner-menu li a:hover {
  background: url(/inc/img/top-nav-selected.jpg) repeat-x scroll 0 0;
  color:#FFFFFF;  
}
#bottomBanner-menu a.selected {
  background: url(/inc/img/top-nav-selected.jpg) repeat-x;
}
#bottomBanner-menu img {

}
#midNav {
  clear:both;
}
/*End banner settings*/
/*Secondary navigation settings*/
#midNav {
  margin: auto;
  overflow: auto;
  line-height: normal;
  background: #d7e7f7;
  width: 960px;
}
#midNav h1 {
  display:inline;
  letter-spacing:1px;
  padding-left:18px;
  position:relative;
  top:10px;
  float: left;
}
#midNav ul {
  list-style-type: none;
  margin: 1px;
  padding: 0;
  width: 72%;
  float: right;
}
#midNav li {
  display: inline;
  overflow: auto;
  font-family:"Trebuchet MS",Helvetica,Verdana,Arial,sans-serif;
}
#midNav a {
  background: url(/inc/img/midnav-divider.gif) no-repeat scroll right center;
  display:block;
  float:left;
  padding:6px 2%;
  text-decoration:none;
}
#midNav a:hover, #midNav a.last:hover {
  background:#b7d2ea;
}
#midNav a.last {
  background: none;
}
#midNav a.selected {
  background:#b7d2ea;
}
/*End Secondary navigation settings*/
/*Footer settings*/
#footer-top {
  background: #0a2e59;
  height: 6px;
}
#footer-mid {
  background: #4f1921;
  height: 2px;
}
#footer {
  width: 960px;
  margin: auto;
}
.vcard {
  padding-bottom: 0.5em;
}
/*End footer settings*/
/*Home page settings*/
#home_news, #home_research {
background: url(/inc/img/home-corner.gif) 0 0 no-repeat;
  margin-top: 1em;
}
#newsletter {
float: left;
}

#home_research {
  float: right;
  width: 48%;
}
#home_informed {
  background: url(/inc/img/kmi-box.gif) 0 0 no-repeat;
}
/*End home page settings*/

/*Search widget*/
.searchbox {
  width: 246px;
  float: left;
  margin: 22px 12px 0 10px;
}

.searchbox hr {
  border: 1px;
  width: 60%;
  color: #9cf;
  background-color: #69c;
  margin: 5px 0 5px 10px;
}
.searchbox-top {
  background: url(/inc/img/search/searchbox-top.png) 0 0 no-repeat;
}
.searchbox-bottom {
  background: url(/inc/img/search/searchbox-bottom.png) 0 100% no-repeat;
  margin: 0 4px 0 4px;
}
.searchbox-bottom img {
 margin-top: 5px;
 vertical-align: text-bottom;
}
.searchbox-top-right {
  background: url(/inc/img/search/searchbox-dot.gif) 100% 0 repeat-y;
}
.searchbox-top-left {
  background: url(/inc/img/search/searchbox-dot.gif) 0 0 repeat-y;
}
.searchbox-top-bkgrd {
  background: url(/inc/img/search/searchbox-bkgrd.png) 0 0 repeat-y;
}
.searchbox-bottom-right {
  background: url(/inc/img/search/searchbox-bottom-dot-right.png) 100% 0 repeat-y;
}
.searchbox-bottom-left {
  background: url(/inc/img/search/searchbox-bottom-dot-left.png) 0 50% repeat-y;
}
.searchbox-bottom-content {
  background: #e8edf3;
  margin: 10px 0 0;
}
.search_option_advanced {
  margin: 0 0 0 10px;
  padding: 5px 2px 0 0;
}
.searchbox-button {
  margin: 0.5em 0 0.5em 0;
}
.searchbox-content-divide {
  margin-bottom:-10px;
}
.searchbox-datepicker-container {
  margin-left: 0.7em;
  padding: 0.5em 0.5em 0.7em 0;
}
.searchbox-full-search {
  border-top: solid 1px #8eb0c9;
  margin: 2px 2px 0 2px;
  padding: 0 10px 5px 7px;
  font-weight: bold;
}
#searchbox_all_courses {
  margin: 0 0 0 25px;
  padding: 0 0 0 0;
}
#additional-filtering {
  padding-bottom: 20px;
}
/*Over-riding datepicker settings to make box appear above and to the right of the button*/
/*Set in here rather than datepicker css to make it easier when files are updated*/
.ui-datepicker { 
  margin-left: 100px;
  top: 395px !important;
  z-index: 1000;
}
/*End datepicker specific*/

#searchtype {
margin: 0;
padding: 0;
}

/*End search widget*/

/*subnav display*/
.subnav {
  background:transparent url(/inc/img/nav/subnav-bg.gif) repeat-y scroll left top;
  margin: 20px 0 10px 10px;
  padding: 0 10px;
  width:246px;
  float: left;
}
.searchbox .subnav {
  /*used to position subnav within the searchbox on sub-pages within courses section*/
  margin: 23px 7px 10px 0;
}
.subnav-top {
  background:transparent url(/inc/img/nav/subnav-top.gif) no-repeat scroll left top;
  height:10px;
  margin:0 -10px;
}
.subnav-bottom {
  background:transparent url(/inc/img/nav/subnav-bottom.gif) no-repeat scroll left top;
  height:10px;
  margin: 0 -10px;
}
.subnav-span {
  width: auto;
  overflow: auto;
}
.subnav ul {
  margin: 0 0 5px -7px;
  padding: 0;
  width: 240px;
}

.subnav h1 {
padding-right: .4em;
line-height: 1.2em;
padding-bottom: .4em;
}
.subnav li {
  line-height:0.7em;
  padding: 0.3em 0 0.3em 20px;
}
.subnav .selected {
  padding-left: 14px;
}
.subnav .selected li {
  padding-left: 30px;
}
.subnav ul li ul li ul li {
  width: 150px;
}

.subnav ul li ul li {
  width: 180px;
}

/*End subnav*/

/*Large and small rounded home page boxes*/
/* all curved boxes get the bottom-left corner */
.rounded {
  margin: 15px 0 0 0;
  background: #ecf2f4;
}
.rounded * {
  margin: 0;
}
.rounded-one {
  background: url(/inc/img/roundedcorners/roundie-bkgrd.gif) top left no-repeat;
}

.rounded-one-a {
  background: url(/inc/img/roundedcorners/grey-tl2-box.gif) top left no-repeat;

}
.rounded-two {
  background: url(/inc/img/roundedcorners/grey-tr-box.gif) top right no-repeat;
  margin: 0 0 0.5em 0;
  padding: 0.7em 0.2em 0 0;
}
.rounded-three {
  background: url(/inc/img/roundedcorners/grey-br-box.gif) bottom right no-repeat;
}
.rounded-four {
  background: url(/inc/img/roundedcorners/grey-bl-box.gif) bottom left no-repeat;
  padding-bottom: 1em;
  padding: 0 1em 10px 1em;
}

.rounded-four-fb {
  background: url(/inc/img/roundedcorners/grey-bl-box.gif) bottom left no-repeat;
  padding-bottom: 1em;
  padding: 0 1em 50px 1em;
}
.rounded-one-sm {
  background: #fafbfc url(/inc/img/roundedcorners/white-tl-box.gif) top left no-repeat;
  left: -1px;
  top: -1px;
  /*margin-bottom: 1em;*/
}
.rounded-two-sm {
  background: #fafbfc url(/inc/img/roundedcorners/white-tr-box.gif) top right no-repeat;
  top: -2px;
  margin: 0 0 0 0.5em;
  padding: 0.5em 2em 0 0;
}
.rounded-three-sm {
  background: #fafbfc url(/inc/img/roundedcorners/white-br-box.gif) bottom right no-repeat;
  right: -2px;
  bottom: -2px;
}
.rounded-four-sm {
  background: #fafbfc url(/inc/img/roundedcorners/white-bl-box.gif) bottom left no-repeat;
  left: -2px;
  padding: 0 0 0 0.7em;
}
.simonyi {
  margin-left: 15px;
}
/*End rounded home page boxes*/

/*Rounded corner right hand box*/
.subpage-rounded {
  margin: 1.5em 0 0 0;
  background: #ecf2f4;
  top: -2px;
  left: -2px;
}

#right_column_socialbookmark .subpage-rounded {
  margin-top: 16px;
}

.rightcontent_course .subpage-rounded {
  margin: 0;
}

.subpage-rounded * {
  margin: 0;
}
.subpage-rounded-one {
  background: url(/inc/img/roundedcorners/subpage-grey-tl-box.gif) top left no-repeat;

}
.subpage-rounded-two {
  background: url(/inc/img/roundedcorners/subpage-grey-tr-box.gif) top right no-repeat;
  margin: 0 0 0.5em 0;
  padding: 0.5em 2em 0 0.5em;
}
.subpage-rounded-three {
  background: url(/inc/img/roundedcorners/subpage-grey-br-box.gif) bottom right no-repeat;
}
.subpage-rounded-four {
  background: url(/inc/img/roundedcorners/subpage-grey-bl-box.gif) bottom left no-repeat;
  padding-bottom: 1em;
  padding: 0 1em 1em 1em;
}

.subpage-rounded-four h3 {  
  padding-bottom: 1em;
}

.subpage-rounded-four ul {
  padding-left: 15px;
}
/*End right hand corner box*/

/*Rounded display for multimedia page*/
.subnav-multimedia {
  background:transparent url(/inc/img/nav/subnav-bg-multimedia.gif) repeat-y scroll left top;
  margin: 0px 0 10px 0px;
  padding: 0 10px;
  width:395px;
  float: left;
}
.subnav-centre-multimedia {
  max-height: 500px;
  overflow: auto;
  margin: 0 -2px 0 -7px;
}
.subnav-top-multimedia {
  background:transparent url(/inc/img/nav/subnav-top-multimedia.gif) no-repeat scroll left top;
  height: 10px;
  margin:0 -10px;
}
.subnav-bottom-multimedia {
  background:transparent url(/inc/img/nav/subnav-bottom-multimedia.gif) no-repeat scroll left top;
  height: 9px;
  margin:0 -10px;
}
.subnav-multimedia .item-image {
  padding-right: 5px;
  margin-bottom: 25px;
}
.subnav-multimedia .item-container {
  padding-left: 10px;
}
.subnav-multimedia .selected {
  padding-left: 4px;
}
/*End multimedia rounded corners*/
 
/*Application boxes*/
.personalinformation {
  float: left;
  width: 49%;
  margin-top: 0.5em;
}

.contactinformation {
  float: right;
  width: 49%;
  margin-top: 0.5em;
}
/*End application boxes*/

/*full content pages - no widget or subnav*/
#full_content {
  padding: 20px 10px;
}
/*End full content*/

/*column settings*/
.subnav_singlepage {
  padding-left: 2px;
  /*margin: 0 0 0 2px;*/
}

.subnav_singlepage #middle_column {
  margin: 0px !important;
}

.subnav_singlepage #right_column {
  margin-top: -11px !important;
  margin-right: 10px !important;
}

.subnav_double_column {
  margin-left: 2px !important;
  margin-right: 8px !important;
}

.searchbox_singlepage {
  margin-left: 10px;
}

#middle_column {
  width: 60%;
  margin: 0 0 0 10px;
  float: left;
}

#middle_column h1 {
  width: 135%;
}

.rightcontent_course #middle_column {
  margin-left: 0;
}

#middle_column .icons img {
  border: none;
}

#middle_column a {
  font-weight: bold;
  color: #369; 
}

#middle_column p {
  padding-right: 0; 
}

#middle_column .headericon  {
/*padding-left: 1em;*/
}

.icons p {
  padding-left: 4em;
  margin-top: 0;
  line-height: 1.2em;
}

.icons h2 {
  padding-left: 2em;
}


#middle_split {
  margin-top: 10px;
}

#right_column {
  width: 35%;
  float: right;
  margin-top: 8px;
}

#right_column_socialbookmark {
  width: 35%;
  float: right;
  margin-top: 0px;
}

#right_column_alumni {
  width: 35%;
  float: right;
  margin-top: -11px;
}

#left_column {
  margin: 12px 1.7em 0 10px;
  float: left;
  width:246px;
}

#left_column_peace {
  margin: 20px 12px 0 10px;
  float: left;
  width: 325px;
}

.right_column_peace {
  width: 63% !important;
}

/*grad school page unique styles*/
.gallery_border_addition {
  border: #000 solid 1px;
  margin-right: 10px !important;
  margin-top: 23px !important;
}

.gradschool_feature {
  /*border: #000 solid 1px;*/
  margin-right: 10px !important;
  margin-top: 23px !important;
}

#gradschool_researchhighlight_image {
  position: absolute;
  top: 40px;
  left: 175px;
  width: 220px;
}

#gradschool_researchhighlight_image a {
  color: #fff !important;
  font-size: 0.689em; 
}

#gradschool_hilight {
  position: relative;
}
/*End grad school*/

/*use if want to add a border around the gallery*/
#left_column_gallery {
  margin: 22px 12px 0 10px;
  float: left;
  width:246px;
}



#left_column_gallery h2 {
  padding: 5px 0 5px 6px;
  margin: 0;
  background-color: #006699;
  border-top: solid #012959 4px;
  color: #fff;
}

#left_column_gallery div {
  padding: 10px 0;
}

#left_column_gallery h3 {
  margin: 0;
  color: #002B5F;
  display: inline;
  vertical-align: top;
}

#left_column_gallery p {
    color: #000000;
    margin: 0;
    padding-left: 5px;
}

#left_column_gallery img {
  margin-right: 8px;
}

#left_column_gallery a:hover {
  color: #fff;
  text-decoration: underline;
}

#left_column_gallery #graduateschool {
  background-color: #ECF2F4;
    padding: 0 0;
}

#left_column_gallery #staff_academic {
  background-color: #6ab6dc;
}
#left_column_gallery #staff_programme {
  background-color: #92c3b2;
}
#left_column_gallery #staff_registry {
  background-color: #3ab2d4;
}
#left_column_gallery #staff_facilities {
  background-color: #c5d2e0;
}
#left_column_gallery #staff_directors {
  background-color: #a8d4d4;
}
#left_column_gallery #staff_admin {
  background-color: #88b1a3;
  border-bottom: #006699 solid 4px;
}

#left_column_multimedia {
  width: 45%;
  float: left;
  margin: 20px 17px 0 10px;
}

#right_column_multimedia {
  width: 51%;
  float: right;
  margin-top: 35px;
  margin-right: 10px;
}

#right_column_multimedia h2 {
  margin: 0 0 15px 0;
}

#readerpublishermodule0 {
width: 80%;
}

#research p {
margin:0.2em 0;
}

#research h3 {
margin-top: 2em;
bottom: 0;
padding-bottom: 0;
}

/*End column settings*/

/*full display for search results page*/
.rightcontent_widget {
  float: left;
  width:70%;
  margin: 22px 0 0;
  padding-bottom: 10px;
}
#specialsearchresults {
  margin-top: 0 !important;
}
#specialsearchresults h2 {
  margin-top: 2px !important;
}
.rightcontent_widget h1 {
  display: inline;
  padding-left: 10px;
}

.rightcontent_widget .headericon {
  vertical-align:middle;
}

span#viewBar_header h2 {
  font-weight: normal;
}

.resultsPage {
  margin-top: 24px;
}

#searchresultslist {
  margin-top: 0px !important;
}

#keyfacts h2 {
  margin-top: 10px !important;
}

.keyfacts_table {
  margin-top: 0px;
}

#subNav {
  float:left;
  padding:0;
  width:160px;
  /*height: 515px;
  overflow: auto;*/
}

#subNav h3 {
  margin-top: 10px;
}

#dow_title {
  margin-top: 0px !important;
}

.resultsControlBar {
  background-color: #f8f6f7;
  padding: 3px 0 3px 6px;
  margin: 6px 0 20px 0;
  height: 40px;
  width: 98%;
}

#resultsControlBarbottom {
  margin-top: 20px;
}

/*.numberofcourses {
  width:160px;
  float:left;
  margin-right: 20px;
}*/

.viewingstatus {
  float:left;
  width: 45%;
}

#viewBar_top {
  padding-right:0px;
}

#viewBar_top img {
  vertical-align: middle;
}

#viewBar_top a,#viewBar_bottom a {
  padding: 0px;
}

.resultsControlBar h3 {
  margin-top: 0;
}

.searchcontent {
  float: right;
  width: 75%;
  padding-right: 2px;
}

.toggleable div{
  display: block;
}

.topLink {
  text-align: right;
  clear: right;
}

.emailfriend {
  float:right;
  display:inline;
}
/*End search results page*/

/*full display pages*/
#rightcontent {
  float: left;
  width:70%;
  margin: 22px 0 0 0;
  padding-bottom: 5px;
}

.rightcontent_course {
  margin-left: 10px !important;
  margin-top: 19px !important;
  margin-right: 10px !important;
}

.rightcontent_special {
  /*margin: 22px 0 0 5px !important;*/
}

.rightcontent_special h1 {
  /*margin-left: 10px;*/
}

#rightcontent h1 a {
font-weight: normal;
color: #002B5F;
}

#rightcontent a, #searchcontent a, #dynamic_content a, #onlinepaymentdisplay a, #searchbox_all_courses a {
font-weight: bold;
color: #369;
}

#rightcontent img {
margin: 0px 10px 10px 0px;
border: solid 1px #666; 
}

#rightcontent img.newsfeed  {
border: 0 !important; 
}

#right_column img.newsfeed  {
border: 0 !important; 
}

#rightcontent img.hilite {
margin: 0px 0px;
border: solid 1px #666; 
}



#listing img  {
margin: 0px 10px 0px 0;
border: solid 1px #666; 
}

#listing li  {
margin-left: 180px;
}

#booknow img  {
border: 0;
padding: 0;
margin: 0;
}


#right_column img, #right_column_alumni img, #right_column_socialbookmark img {
border: solid 1px #666; 
margin: .2em .5em .3em 0;
}

#right_column img.FB {
border: none; 
}

#right_column p.FB {
padding: 0 0 3em 0;
margin-top: 0;
}

#rightcontent .documentlink {
  border: 0;
  margin: 0;
}

#rightcontent h1 img, .rightcontent_widget h1 img {
margin: 0px;
border: none; 
vertical-align: middle;
padding: 0 10px 3px 0;
}

#rightcontent h2 img {
margin: 0px;
border: none; 
vertical-align: middle;
padding-right: 10px;
}


#middle_column p, #right_column p, #right_column_alumni p, #right_column_socialbookmark p {
padding-right: 0px;
}


#rightcontent #columnone {
  width:48%;
  float:left;
}
#rightcontent #columntwo {
  width:48%;
  float:right;
}
#rightcontent #columnone div {
  padding-top: 1em;
}
#rightcontent #columntwo div {
  padding-top: 1em;
}
#rightcontent #columnone #professional {
  padding-top: 2.7em;
}
#rightcontent #columnthree {
  width:24%;
  float:left;
  padding-top: 1em;
}
#rightcontent #columnfour {
  width:74%;
  float:right;
  overflow: auto;
  border: 1px solid;
  max-height: 600px;
  margin-top: 1em;
}

#courses_type_description {
  display: block;
}
#courses_type_subdescription_one {
  display: none;
}
#courses_type_subdescription_two {
  display: none;
}
#courses_type_subdescription_three {
  display: none;
}
#courses_type_subdescription_four {
  display: none;
}
#courses_type_subdescription_five {
  display: none;
}

.course_subtypes {
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1em;
}

#dynamic_content img {
  padding-top: 0;
  margin-top: 0;
}

#dynamic_content {
  padding: 2px 10px 0 10px;
}

#dynamic_content h3 {
  margin-top: 0;
}

.fb-wrap {width:58px; overflow:hidden;}
    .FB {position: relative; left:65px; top: -20px; }

.social_bookmarking, #social_bookmarking_sub {
  float:right;
}
.social_bookmarking img, #social_bookmarking_sub img {
  margin: 0 0 0 10px !important;
  border: none !important;
}

#social_bookmarking_sub_container, #link_sub_container {
  position: absolute;
  z-index: 9999;
}

#link_sub {
  background: url('/inc/img/favicons/link_top.gif') no-repeat scroll left top;
  position: relative;
  top: 18px;
  left: 255px;
  height: 140px;
  padding: 20px 20px 0 0;
  width: 290px;
}

#link_sub_inner {
  color: #7b7b7b;
  padding: 5px;
}

#link_sub_content {
  padding: 0 0 0 10px;
}

#social_bookmarking_sub {
  background: url('/inc/img/favicons/share_top.gif') no-repeat scroll left top;
  position: relative;
  top: 18px;
  left: 405px;
  height: 140px;
  padding: 20px 20px 0 0;
}

#social_bookmarking_sub_content {
  padding: 8px 0 0 0;
}

#social_bookmarking_sub_top, #link_sub_top {
  border-bottom: dotted 1px #dce3eb;
  margin-bottom: 10px;
  color: #7b7b7b;
  padding-left: 10px;
}

#social_bookmarking_sub_bottom {
  border-top: dotted 1px #dce3eb;
  margin-top: 10px;
  padding-left: 10px;
}

#social_bookmarking_sub_content a {
  font-weight: normal !important;
}

#social_bookmarking_sub_col1 {
  float: left;
  width: 120px;
}

#social_bookmarking_sub_col2 {
  float: right;
  width: 120px;
}
/*End course display pages*/

/*image alignment styles*/
.illustration_right {
  float:right;
  margin-bottom:2em;
  margin-left:1em;
}
.illustration {
  float:right;
  margin-bottom:2em;
  margin-left:1em;
  border: 0 !important;
}
.tutorimg {
  float: right;
  border: solid 1px #000;
  margin-left: 5px;
}
/*End image alignment*/

/*Settings for online payment pages*/
#onlinepaymentdisplay dl {
  margin-top: 5px;
}
#onlinepaymentdisplay dt {
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 5px;
}
#onlinepaymentdisplay {
  margin: 0 10px 0 10px;
  padding: 10px 0 10px 0;
}
.card_icons {
  border: 0 !important;
  margin: 5px !important;
}
.shoppingbasket {
  margin: 0 0 0 10px;
}
/*End online payment pages*/

/*Settings for the user accounts and shopping basket*/

#login {
  padding: 30px 10px 10px;
  height: 650px;
}

#editdetails {
  padding: 30px 10px 10px;
}

#left_fieldset {
  float: left;
  width: 60%;
}

#help_fieldset {
  float: right;
  width: 30%;
}

/*End login and basket*/

/*Invoice payment pages*/
.invoice_header {
  padding: 10px 0 10px 0;
}
#invoice_addressee {
  padding: 10px 0;
}
#invoice_total {
  float:right;
  text-align: right;
  width: 20%;
}
#invoice_detail {
  float:left;
  width: 75%;
}
/*End invoice payment pages*/

/*Table settings for course display*/
.keyfacts_table th {
  width: 30%;
}
.keyfacts_table tr {
  line-height: 20px;
}
/*End table settings*/

/*General settings*/
.snippet-left {
  margin-right:5%;
  float:left;
  width:47%;
}
.snippet-right {
  float:right;
  width:47%;
}
.toTop {
  float:right;
}
.vertical_alignment {
  vertical-align:middle;
}
#admin_area table, #admin_area td {
  width: 650px;
  border: 1px solid #000;
}
.funding {
 padding-left: 20px; 
}
.funding p {
 padding-left: 30px; 
}
.funding ul  {
  padding-left: 50px;
}
.funding_nopadding {
  padding-left: 0px !important;
}
#vacancy_surround div {
  font-size: 0.689em;
  margin-left: 35px;
}
#vacancy_surround p {
  margin-left: 35px;
}
.vacancy_layout {
  margin:10px 0 10px 35px;
  font-size: 0.689em;
}
.vacancy_layout_bold {
  font-weight: bold;
  font-size: 0.689em;
}
.vacancy_layout_hidden {
  font-size: 1em;padding: 2px 10px; 0 10px;overflow:auto; display: none; position: absolute; top: 250px; left: 200px; width: 700px; height: 450px; border: 1px solid #000; background: white;
}
/*End general settings*/

/*general promotion settings*/
.rightcontent_promotion {
    float: left;
    width:70%;
    margin: 22px 0 0 0;
    padding-bottom: 5px;
    padding-left: 2px;
  }
.rightcontent_promotion #middle_column {
  margin: 0px !important;
}
.rightcontent_promotion a {
  font-weight: bold;
  color: #369;
}
.rightcontent_promotion h1 a {
  font-weight: normal !important;
  color: #002D62 !important;
}
.rightcontent_promotion h1 {
  display: inline;
}
/*end promotion*/