#container {
  background: #f3f3f3;
}
#mainContent {
  background: #fff;
}
/*Top navigation settings*/
#bottomBanner {
  border-left: 1px solid #396594;
  border-right: 1px solid #396594;
  color: #fff;
}

.intro {
  font-style: italic;
  font-family: Verdana,Helvetica,Arial,Sans-serif;
  color: #333;
  line-height: 1.5em;
}

#rightcontent .icons ul li {
margin-left: 40px;
line-height: .9em;
}

.larger_icon .intro {
  margin-top: 2px;
}

#bottomBanner a {
  color: #EEE;
  font-weight: normal;
  text-decoration: none;
}
#midNav li.selected {
  background: #b7d2ea;
}

.external:after {
  content: " " url('/inc/img/external.png');
}

/*End top navigation settings*/
#topBanner {
  color: #5d6e9c;
}
#topBanner input {
  color: #444444;
}
#topBanner a {
  color: #fff;
  text-decoration: none;
}
.searchbox-top-content p {
color:#FFFFFF;
font-family:verana,helvetica,arial;
letter-spacing:normal;
margin:5px 0 0 10px;
padding-top:0;
}
.searchbox-top-content h1 {
  margin: 0 0 0 10px;
  padding-top: 5px;
  color: #fff;
}
.search_option {
  color: #1d6694;
  margin: 5px 0 0 10px; 
}

.search_option_advanced {
  font-weight: bold;
  margin: 0 0 0 10px;
}
.search_option_advanced input {
  margin: 0;
  padding: 0;
}
.searchbox-textbox {
  color: #444;
}

#home_course_highlights h1{
  margin-bottom: 0.2em;
}

#home_course_highlights h4, #home_news h4  {
font-family:verdana,helvetica,arial,sans-serif;
margin:.8em 0 0 2em;

}

#home_course_highlights h3 {
  margin: 2px 0 0 20px;
}
#home_course_highlights p, #home_news p {
  margin: 0 0 0 2em;
}
#home_course_highlights img {
  margin: 0 0.5em 0 0;
}
#middle_split h2 {
  padding-left: 2em;
  padding-top: 1em;
}
#middle_split h4 {
  margin: 0 0 0 25px;
  padding-top: 10px;
}
#middle_split p {
  margin: 0 0 0 2.5em;
}
#home_research img {
  margin: 0.2em 0.5em 0 0;
  border: 1px solid #000;
}

#home_news h2 {
padding: 0.9em 0 0 1.5em;
}

#full_content dt {
  padding: 10px 0 0;
}
#rightcontent dt, #full_content dt {
  font-weight: bolder;
}
/*Footer styling*/
#footer-container {
  background: #666;
  color: #fff;
}
#footer {
  text-align: right;
}
#footer a {
  color: #fff;
  text-decoration: none;
  /*font-weight: bold;*/
}
/*End footer styling*/

/*subnav styling*/
.subnav li {
  list-style: none;
}
.subnav .selected, .subnav .descendant-selected {
  background: #dae3ef;
  border-left: solid #b02128 6px;
}

.subnav .descendant-selected {
  padding-left: 14px;
}


.subnav li a {
  text-decoration: none;
}
.subnav ul li ul li a{
  font-style: italic;
}
.subnav li:hover {
  background: #dae3ef;
}
.selected ul li a, .descendant-selected ul li a {
  font-style: normal;
}

.descendant-selected .selected {
  font-style: normal;
  border-left: none !important;
  list-style-type: disc;
  color: #b02128;
  margin-left: 30px;
  padding-left: 0px !important;
}

.descendant-selected ul li {
  border-left: none !important;
  margin-left: 30px;
}

.descendant-selected ul li {
  padding-left: 0px !important;
}

/*end subnav styling*/

/*recommended courses*/
#recommendcourses {
  background-color:#F5F6FA;
  margin-top: 25px;
  padding: 5px;
}
#recommendcourses li {
  list-style: disc !important;
  color: #b02128;
  margin: 5px 0 5px 15px;
  padding: 0 0 3px 0px !important;
  line-height: 1.05em;
}
#recommendcourses li a {
  font-style: normal !important;
}

/*end recommended courses*/

/*course results subnav*/
#subNav ul {
  padding: 0;
  margin: 0;
}
#subNav li {
  list-style: none;
  padding-left: 10px;
}
#subNav li a {
  text-decoration: none;
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
}
#subNav .selected {
  padding-left: 4px;
  background: #dae3ef;
  border-left: 6px solid #b02128;
}
.subNavNorm {
  background: #fff;
  border: 0;
}
.subNavNorm a {
  color: #336699 !important;
  font-weight: bold;
}
.subNavNorm:hover {
  background: #dae3ef;
}

h2.rounded-two  {
  margin-bottom: 0;
}

#rightcontent img.noborder {
border: 0;
}

#rightcontent li {
  line-height: 1.3em;
  padding-bottom: .6em;
  /*padding-right: 4em;*/
  padding-right: 1em;
}

.simonyi {
  line-height: 1em;
  font-style: italic;
}

#right_column p  {
line-height: 1.5em;
}

img.informed  {
margin: 2px;

}

.course_past a {
  color: #9e9e9e !important;
}
/*End course results subnav*/

/*Multimedia page settings*/
.subnav-multimedia h1 {
  margin-bottom: 25px;
  padding-left:5px;
}
.subnav-multimedia .item-title {
  font-style: italic;
}
.subnav-multimedia .item-media {
  font-weight: bold;
}
.subnav-multimedia .item-container:hover {
  background: #dae3ef;
}
.subnav-multimedia .selected {
  background: #dae3ef;
  border-left: solid #b02128 6px;
}

/*End multimedia page settings*/

/*Additional settings for online enrolment pages*/
caption {
  background-color: #2E4C6F;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.confirmDetails td, .confirmDetails th {
  border: 1px solid silver;
  padding: 3px;
}
/*End online enrolment pages*/

/*Invoice payment pages*/
.invoice_header {
  font-weight: bold;
  border-bottom: solid 1px #000;
}
.payment_icons {
  border: 0 !important;
  margin: 2px !important;
}
/*End invoice payment pages*/

.hidden {
  display: none;
}

.vcard {
  margin: 0;
  padding: 0;
}

ul .adr {
  font-style: normal;
}
.adr {
  font-style: normal;
}

.profile_list li {
  list-style: none;
}
.profile_list ul {
  padding-left: 15px;
}
.staffphoto {
  float: right;
  border: 1px solid #002147;
}

/*Site map styles*/
.sitemap {
  font-size:0.759em;
}
.sitemap_owner {
  font-size: 0.814em;
  font-weight: bold;
}
/*End site map styles*/
