/**
 * @package    HikaShop for Joomla!
 * @version    2.1.3
 * @author     hikashop.com
 * @copyright  (C) 2010-2013 HIKARI SOFTWARE. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */
#hikashop_main_content input,#hikashop_main_content textarea,#hikashop_main_content select,
#hikashop_main_content fieldset input,#hikashop_main_content fieldset textarea,#hikashop_main_content fieldset select,
#hikashop_main_content fieldset img,#hikashop_main_content fieldset button {
	float:none;
}
#hikashop_main_content label {
	float:none;
	display:inline;
}
#hikashop_main_content .btn-group-vertical label {
	display:block;
}
#hikashop_main_content fieldset {
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}
#hikashop_main_content fieldset.radio {
	border: 0;
	margin-bottom: 5px;
}
#hikashop_main_content button.btn, #hikashop_main_content a img {
	margin-bottom: 9px;
}
#hikashop_main_content .dtree a img {
	margin-bottom: 0px;
}
#hikashop_main_content a button img {
	margin-bottom: 0px;
}

#hikashop_main_content table.admintable td.key,
#hikashop_main_content table.admintable td.paramlist_key {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	text-align:right;
	width:140px;
}
#hikashop_main_content div.row-fluid table.admintable td.key,
#hikashop_main_content div.row-fluid table.admintable td.paramlist_key {
	white-space:normal;
}

#hikashop_main_content div.current {
	background-color:#F9F9F9;
}
#hikashop_main_content FIELDSET.adminform LEGEND {
	position:relative;
	float:none;
	top : 0px !important;
}
#hikashop_main_content dd {
	width:auto;
}

.hikashop_menu_top{
	margin-bottom:10px;
}

span.onload {
	background-image:url(../images/spinner.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding:2px 20px;
}

span.loading, span.spanloading {
	padding:2px 20px;
}

div.iframedoc {
	height:300px;
	display:none;
}

div.onload {
	background-image:url(../images/spinner.gif);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	float : right;
	margin-left : 3px;
}

.searchtext {
	background-color: rgb(255, 255, 102);
	color : black;
	font-weight:bold;
}

.iframdoc {
	display:none;
	height:0px;
}

tr.sectiontableentry1 {
	background-color:#F9F9F9;
}
tr.sectiontableentry2 {
	background-color:#EEEEEE;
}
tr.sectiontableentry2:hover, tr.sectiontableentry1:hover, table.features_table tr.features:hover {
	background-color:#FFFFDD;
}

th.titletoggle {
	width:65px;
	white-space: nowrap;
}

th.titledate {
	width:140px;
	white-space: nowrap;
}

th.titlesender {
	width:150px;
	white-space: nowrap;
}
th.titlelink, th.titleorder {
	width:100px;
	white-space: nowrap;
}

th.titlebox, th.titleid, th.titlenum {
	width:30px;
	white-space: nowrap;
}

th.titlecolor {
	width:12px;
}

.hikashop_header{
	background-repeat:no-repeat;
	color:#0B55C4;
	font-size:22px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
	padding-left:55px;
}

td.key {
	white-space: nowrap;
}

.hikashop_multilang_buttons {
	float:right;
	margin-right:5px;
}
.hikashop_multilang_button {
	float:right;
	color:#000000;
	background:none repeat scroll 0 0 #F0F0F0;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	color:#666666;
	margin-left:3px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:4px;
	padding-top:5px;
	margin-top:9px;
}

.hikashop_product_image_thumbnail img {
	width: 100px;
}






.icon-16-affiliate {background-image:url(../images/icons/icon-16-affiliate.png);}
.icon-16-banner {background-image:url(../images/icons/icon-16-banner.png);}
.icon-16-characteristic {background-image:url(../images/icons/icon-16-characteristic.png);}
.icon-16-click {background-image:url(../images/icons/icon-16-click.png);}
.icon-16-currency {background-image:url(../images/icons/icon-16-currency.png);}
.icon-16-discount {background-image:url(../images/icons/icon-16-discount.png);}
.icon-16-field {background-image:url(../images/icons/icon-16-field.png);}
.icon-16-filter {background-image:url(../images/icons/icon-16-filter.png);}
.icon-16-order {background-image:url(../images/icons/icon-16-order.png);}
.icon-16-product {background-image:url(../images/icons/icon-16-product.png);}
.icon-16-tax {background-image:url(../images/icons/icon-16-tax.png);}
.icon-16-views {background-image:url(../images/icons/icon-16-views.png);}
.icon-16-import {background-image:url(../images/icons/icon-16-import.png);}
.icon-16-vote {background-image:url(../images/icons/icon-16-vote.png);}
.icon-16-email {background-image:url(../images/icons/icon-16-mail.png);}
.icon-16-report {background-image:url(../images/icons/icon-16-report.png);}
.icon-16-cart {background-image:url(../images/icons/icon-16-cart.png);}
.icon-16-wishlist {background-image:url(../images/icons/icon-16-wishlist.png);}
.icon-16-badge {background-image:url(../images/icons/icon-16-badge.png);}
.icon-16-badge2 {background-image:url(../images/icons/icon-16-badge2.png);}
.icon-16-addproduct {background-image:url(../images/icons/icon-16-addproduct.png);}

.icon-16-config {background-image:url(../images/icons/icon-16-config.png);}
.icon-16-language {background-image:url(../images/icons/icon-16-zone.png);}
.icon-16-plugin {background-image:url(../images/icons/icon-16-plugin.png);}
.icon-16-category {background-image:url(../images/icons/icon-16-category.png);}
.icon-16-user {background-image:url(../images/icons/icon-16-user.png);}
.icon-16-article {background-image:url(../images/icons/icon-16-article.png);}
.icon-16-menu {background-image:url(../images/icons/icon-16-menu-of-content.png);}
.icon-16-module {background-image:url(../images/icons/icon-16-module-of-content.png);}
.icon-16-help {background-image:url(../images/icons/icon-16-help.png);}
.icon-16-install {background-image:url(../images/icons/icon-16-update.png);}
.icon-16-info {background-image:url(../images/icons/icon-16-info.png);}

.icon-32-hikashop {background-image:url(../images/icons/icon-32-hikashop.png);}
.icon-32-report {background-image:url(../images/icons/icon-32-report.png);}
.icon-32-limit {background-image:url(../images/icons/icon-32-limit.png);}
.icon-32-invoice {background-image:url(../images/icons/icon-32-invoice.png);}
.icon-32-shipping {background-image:url(../images/icons/icon-32-shipping.png);}
.icon-32-shipping-invoice {background-image:url(../images/icons/icon-32-shipping-invoice.png);}
.icon-32-parent-order {background-image:url(../images/icons/icon-32-parent-order.png);}

.icon-48-affiliate {background-image:url(../images/icons/icon-48-affiliate.png);}
.icon-48-currency {background-image:url(../images/icons/icon-48-currency.png);}
.icon-48-order {background-image:url(../images/icons/icon-48-order.png);}
.icon-48-hikashop {background-image:url(../images/icons/icon-48-hikashop.png);}
.icon-48-tax {background-image:url(../images/icons/icon-48-tax.png);}
.icon-48-discount {background-image:url(../images/icons/icon-48-discount.png);}
.icon-48-characteristic {background-image:url(../images/icons/icon-48-characteristic.png);}
.icon-48-banner {background-image:url(../images/icons/icon-48-banner.png);}
.icon-48-field {background-image:url(../images/icons/icon-48-field.png);}
.icon-48-limit {background-image:url(../images/icons/icon-48-limit.png);}
.icon-48-filter {background-image:url(../images/icons/icon-48-filter.png);}
.icon-48-vote {background-image:url(../images/icons/icon-48-vote.png);}
.icon-48-click {background-image:url(../images/icons/icon-48-click.png);}
.icon-48-product {background-image:url(../images/icons/icon-48-product.png);}
.icon-48-report {background-image:url(../images/icons/icon-48-report.png);}
.icon-48-cart {background-image:url(../images/icons/icon-48-cart.png);}
.icon-48-wishlist {background-image:url(../images/icons/icon-48-wishlist.png);}
.icon-48-badge {background-image:url(../images/icons/icon-48-badge.png);}
.icon-48-badge2 {background-image:url(../images/icons/icon-48-badge2.png);}

#hikashop_main_content .icon-48-import, .icon-48-import {background-image:url(../images/icons/icon-48-import.png);}
#hikashop_main_content .icon-48-view, .icon-48-view {background-image:url(../images/icons/icon-48-view.png);}
#hikashop_main_content .icon-48-categories, .icon-48-categories {background-image:url(../images/icons/icon-48-category.png);}
#hikashop_main_content .icon-48-user, .icon-48-user {background-image:url(../images/icons/icon-48-user.png);}
#hikashop_main_content .icon-48-config, .icon-48-config {background-image:url(../images/icons/icon-48-config.png);}
#hikashop_main_content .icon-48-plugin, .icon-48-plugin {background-image:url(../images/icons/icon-48-plugin.png);}
#hikashop_main_content .icon-48-install, .icon-48-install {background-image:url(../images/icons/icon-48-update.png);}
#hikashop_main_content .icon-48-langmanager, .icon-48-langmanager {background-image:url(../images/icons/icon-48-zone.png);}
#hikashop_main_content .icon-48-help, .icon-48-help {background-image:url(../images/icons/icon-48-help.png);}
#hikashop_main_content .icon-48-help_header, .icon-48-help_header {background-image:url(../images/icons/icon-48-help.png);}

.btn-small .icon-hikashop { background-image:url(../images/icons/icon-14-hikablue.png); vertical-align:middle; }
.btn-small .icon-limit { background-image:url(../images/icons/icon-14-limit-color.png); vertical-align:middle; }
.btn-small .icon-cart { background-image:url(../images/icons/icon-14-cart.png); vertical-align:middle; }
.btn-small .icon-export { background-image:url(../images/icons/icon-14-export-color.png); vertical-align:middle; }
.btn-small .icon-import { background-image:url(../images/icons/icon-14-import.png); vertical-align:middle; }
.btn-small .icon-invoice { background-image:url(../images/icons/icon-14-invoice.png); vertical-align:middle; }
.btn-small .icon-shipping { background-image:url(../images/icons/icon-14-shipping-invoice.png); vertical-align:middle; }
.btn-small .icon-mail { background-image:url(../images/icons/icon-14-mail.png); vertical-align:middle; }
.btn-small .icon-send { background-image:url(../images/icons/icon-14-mail.png); vertical-align:middle; }

body.com_hikashop #toolbar button {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

#hikashopcpanel span {
	width:auto;
}

#hikashop_main_content fieldset.adminform {
	padding: 5px 17px 17px;
}
#hikashop_main_content fieldset.adminform legend {
	margin: 0px;
	padding: 0px 3px;
	border: 0px solid;
	width: auto;
}
#hikashop_main_content table td.order input {
	width:20px;
	margin-bottom:0px;
}
#price_listing input, #price_listing select,
#price_listing_table_row input, #price_listing_table_row select {
	width:auto;
}
#hikashop_main_content #hikashop_edit_view .CodeMirror-wrapping {
	height: 500px !important;
}
body.com_hikashop div.modal-body iframe {
	border:0px;
}
#modal-preview {
	z-index:1100;
}
#hikashop_main_content .modal-body{
	max-height: none !important;
}
@media only screen and (max-width: 1280px) {
	div.modal.fade.in{
		width: 960px !important;
		margin-left: -480px !important;
		top : 50% !important;
		left: 50% !important;
	}
}
@media only screen and (max-width: 960px) {
	div.modal.fade.in{
		width: 800px !important;
		margin-left: -400px !important;
		top : 50% !important;
		left: 50% !important;
	}
}
@media only screen and (max-width: 800px) {
	div.modal.fade.in{
		width: 640px !important;
		margin-left: -320px !important;
		top : 50% !important;
		left: 50% !important;
	}
}
@media only screen and (max-width: 640px) {
	div.modal.fade.in{
		width: 480px !important;
		margin-left: -240px !important;
		top : 10% !important;
		left: 50% !important;
	}
}
@media only screen and (max-width: 480px) {
	div.modal.fade.in{
		width: 320px !important;
		margin-left: -160px !important;
		top : 10% !important;
		left: 50% !important;
	}
}

@media only screen and (max-height: 480px) {
	div.modal.fade.in{
		height: 380px !important;
	}
}
@media only screen and (max-height: 420px) {
	div.modal.fade.in{
		height: 320px !important;
		top:0% !important;
	}
}


.noborder{ border-top : 0px !important; }
.hikaspanleft input[type="text"] { width: 100%; max-width: 210px; }
.hikaspanleft select { width: 100%; max-width: 220px; }
.hikaspanleft .chzn-container { width: 100% !important; max-width: 220px !important; }
#hikashop_product_form .hikaspanleft .hikashop_product_maininfo input[type="text"],#hikashop_product_form .hikaspanleft .hikashop_product_maininfo textarea, #hikashop_plugin_name_field,#page-category input[type=text],#page-category textarea  { width: 100%; max-width: 600px; }
#hikashop_product_price_table input[type="text"]{ width: 100%; max-width: 60px;}
.hikashop_product_prices_table input[type="text"]{ width: 100%; max-width: 60px;}





div.hikashop_messages{
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-top-style:solid;
	border-top-width:2px;
	font-weight:bold;
	margin:5px 10px;
}

.hikashop_messages li{
	list-style-type : none;
}

div.hikashop_warning{
	background-color:#EFE7B8;
	border-bottom-color:#F0DC7E;
	border-top-color:#F0DC7E;
	color:#CC0000;
}

div.hikashop_success{
	background-color:#CCFFBB;
	border-bottom-color:#00AA00;
	border-top-color:#00AA00;
	color:#00AA00;
}

div.hikashop_info{
	background-color:#C3D2E5;
	border-bottom-color:#84A7DB;
	border-top-color:#84A7DB;
	color:#0055BB;
}

div.hikashop_error{
	background-color:#E6C0C0;
	border-bottom-color:#DE7A7B;
	border-top-color:#DE7A7B;
	color:#CC0000;
}




.hikashopcpanel div.icon a {
	border:1px solid #F0F0F0;
	color:#666666;
	display:block;
	float:left;
	text-decoration:none;
	vertical-align:middle;
	width:100%;
}
.hikashopcpanel [class^="icon-"]{
	width: auto !important;
}
.hikashopcpanel div.icon:hover a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F9F9F9 none repeat scroll 0 0;
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#0B55C4;
}
.hikashopcpanel div.icon {
	float:left;
	margin-bottom:5px;
	margin-right:5px;
	text-align:center;
	width: 100%;
}
.hikashopcpanel span {
	display:block;
	text-align:center;
}
.hikashopcpanel img {
	margin:0 auto;
	padding:10px 0;
}

.hikachart{
	float: left;
}





table.acltable thead{
	background-color:#5471B5;
	color:white;
}

table.acltable{
	border-collapse: collapse;
	background-color:white;
}

table.acltable td{
	padding:4px;
	border: #cccccc 1px solid;
}

table.acltable th{
	padding: 5px 15px;
	border: #cccccc 1px solid;
}



table.acltable td.checkfield{
	text-align:center;
}

table.acltable tr.aclline:hover{
	background-color:#CDE6E3;
}




.checkout_workflow_zone ul {
	margin:0px;
	padding:0px;
}
.checkout_workflow_zone li {
	list-style: none;
	padding: 5px;
}

.checkout_workflow_zone .checkout_trash {
	float: right;
	padding: 2px;
	width: 60px;
	height: 55px;
	background: url('../images/trash.png') no-repeat center center;
}
.checkout_workflow_zone .checkout_trash.drophover {
	background: url('../images/trash2.png') no-repeat center center;
}

.checkout_workflow_zone .checkoutElem {
	float: left;
	cursor: move;
	position: relative;
	width: 70px;
	margin: 4px;
	border: 1px solid #a0a0a0;
	background-color: #f3f3f3;
	text-align: center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.checkout_workflow_zone .checkout_step {
	width: 90px;
	margin-right: 6px;
	margin-bottom: 6px;
	border: 1px solid #cccccc;
	background-color: #f9f9f9;
	float: left;
	min-height: 50px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

table.widget_table td.key {

	font-size:13px;
	text-align: right;
	font-weight: bold;
	padding:10px;
	margin:2px;
	border-bottom: solid 1px;
}

table.widget_table td.data {
	text-align:left;
	font-size:13px;
	font-weight: bold;
	color: #9B2B2B;
	padding:10px;
	border-bottom: solid 1px;
}



ul.hikaGallery {
	list-style: none;
	margin:0px;
	position:relative;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	outline:0px none;
	padding:0px;
}
ul.hikaGallery li.hikaGalleryItem {
	display: block;
	float: left;
	height: 125px;
}
ul.hikaGallery li.hikaGalleryItem .hikaGalleryPhoto {
	position: relative;
	float:left;
	width:110px;
	margin:5px 5px 5px 5px;
	padding:3px;
	text-decoration:none;
	border:1px solid #efefef;
	border-radius:4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	background:white;

}
ul.hikaGallery li.hikaGalleryItem.selected .hikaGalleryPhoto {
	background-color:#45a6e3; 
}
ul.hikaGallery li.hikaGalleryItem .hikaGalleryPhoto img {
	height:100px;
	display:block;
	margin:0px auto;
	border:0px none;
}
ul.hikaGallery li.hikaGalleryItem .hikaGalleryPhoto .hikaGalleryChk {
	position:absolute;
	top:82px;
	left:10px;
	display:block;
	margin:1px auto;
}
ul.hikaGallery li.hikaGalleryItem span.photo_name {
	display: inline-block;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
}
ul.hikaGallery li.hikaGalleryItem div.hikaGalleryCommand {
	display:none;
}
ul.hikaGallery li.hikaGalleryItem:hover .hikaGalleryPhoto {
	z-index:20;
}
ul.hikaGallery li.hikaGalleryItem:hover div.hikaGalleryCommand {
	display:block;
}


#hikashop_main_content .chart svg { max-width : none !important;}
@media only screen and (max-width: 1280px) {
	table#hikashop_product_listing tbody td:nth-child(1),
	table#hikashop_product_listing th:nth-child(1),
	table#hikashop_product_listing tbody td:nth-last-child(1),
	table#hikashop_product_listing th:nth-last-child(1),
	table#hikashop_order_listing tbody td:nth-child(1),
	table#hikashop_order_listing th:nth-child(1),
	table#hikashop_order_listing tbody td:nth-last-child(1),
	table#hikashop_order_listing th:nth-last-child(1),
	table#hikashop_field_listing tbody td:nth-child(1),
	table#hikashop_field_listing th:nth-child(1),
	table#hikashop_field_listing tbody td:nth-last-child(1),
	table#hikashop_field_listing th:nth-last-child(1),
	table#hikashop_field_listing td:nth-last-child(2),
	table#hikashop_field_listing th:nth-last-child(2) {display: none;}
}
@media only screen and (max-width: 960px) {
	table#hikashop_user_order_listing tbody td:nth-child(1),
	table#hikashop_user_order_listing th:nth-child(1),
	table#hikashop_user_order_listing tbody td:nth-last-child(1),
	table#hikashop_user_order_listing th:nth-last-child(1),
	table#hikashop_order_listing td:nth-child(5),
	table#hikashop_order_listing th:nth-child(5),
	table#hikashop_order_listing td:nth-child(7),
	table#hikashop_order_listing th:nth-child(7),
	table#hikashop_field_listing td:nth-last-child(6),
	table#hikashop_field_listing th:nth-last-child(6),
	table#hikashop_field_listing td:nth-last-child(4),
	table#hikashop_field_listing th:nth-last-child(4),
	table#hikashop_field_listing td:nth-last-child(5),
	table#hikashop_field_listing th:nth-last-child(5),
	table#hikashop_field_listing td:nth-last-child(8),
	table#hikashop_field_listing th:nth-last-child(8),
	table#hikashop_limit_listing tbody td:nth-last-child(1),
	table#hikashop_limit_listing th:nth-last-child(1),
	table#hikashop_limit_listing tbody td:nth-child(1),
	table#hikashop_limit_listing th:nth-child(1) {display: none;}
}
@media only screen and (max-width: 800px) {
	table#hikashop_zone_listing td:nth-child(5),
	table#hikashop_zone_listing th:nth-child(5),
	table#hikashop_zone_listing td:nth-child(6),
	table#hikashop_zone_listing th:nth-child(6),
	table#hikashop_currency_listing tbody td:nth-child(1),
	table#hikashop_currency_listing th:nth-child(1),
	table#hikashop_currency_listing td:nth-child(7),
	table#hikashop_currency_listing th:nth-child(7),
	table#hikashop_currency_listing td:nth-child(10),
	table#hikashop_currency_listing th:nth-child(10),
	table#hikashop_email_listing tbody td:nth-child(1),
	table#hikashop_email_listing th:nth-child(1),
	table#hikashop_email_listing td:nth-child(4),
	table#hikashop_email_listing th:nth-child(4),
	table#hikashop_badge_listing tbody td:nth-child(1),
	table#hikashop_badge_listing th:nth-child(1),
	table#hikashop_badge_listing td:nth-child(9),
	table#hikashop_badge_listing th:nth-child(9),
	table#hikashop_user_listing tbody td:nth-child(1),
	table#hikashop_user_listing th:nth-child(1),
	table#hikashop_user_listing tbody td:nth-last-child(1),
	table#hikashop_user_listing th:nth-last-child(1),
	table#hikashop_vote_listing tbody td:nth-child(1),
	table#hikashop_vote_listing th:nth-child(1),
	table#hikashop_vote_listing tbody td:nth-last-child(1),
	table#hikashop_vote_listing th:nth-last-child(1),
	table#hikashop_vote_listing td:nth-last-child(5),
	table#hikashop_vote_listing th:nth-last-child(5),
	table#hikashop_cart_listing tbody td:nth-child(1),
	table#hikashop_cart_listing th:nth-child(1),
	table#hikashop_cart_listing td:nth-child(3),
	table#hikashop_cart_listing th:nth-child(3),
	table#hikashop_cart_listing tbody td:nth-last-child(1),
	table#hikashop_cart_listing th:nth-last-child(1),
	table#hikashop_user_order_listing td:nth-child(3),
	table#hikashop_user_order_listing th:nth-child(3),
	table#hikashop_user_order_listing td:nth-child(5),
	table#hikashop_user_order_listing th:nth-child(5),
	table#hikashop_discount_listing tbody td:nth-last-child(1),
	table#hikashop_discount_listing th:nth-last-child(1),
	table#hikashop_discount_listing tbody td:nth-child(1),
	table#hikashop_discount_listing th:nth-child(1),
	table#hikashop_discount_listing td:nth-child(5),
	table#hikashop_discount_listing th:nth-child(5),
	table#hikashop_discount_listing td:nth-child(6),
	table#hikashop_discount_listing th:nth-child(6),
	table#hikashop_order_listing td:nth-child(2),
	table#hikashop_order_listing th:nth-child(2),
	table#hikashop_order_listing td:nth-child(4),
	table#hikashop_order_listing th:nth-child(4),
	table#hikashop_order_product_listing td:nth-child(2),
	table#hikashop_order_product_listing th:nth-child(2),
	table#hikashop_order_history_listing td:nth-last-child(3),
	table#hikashop_order_history_listing th:nth-last-child(3),
	table#hikashop_banner_listing tbody td:nth-child(1),
	table#hikashop_banner_listing th:nth-child(1),
	table#hikashop_banner_listing tbody td:nth-last-child(1),
	table#hikashop_banner_listing th:nth-last-child(1),
	table#hikashop_click_listing tbody td:nth-child(1),
	table#hikashop_click_listing th:nth-child(1),
	table#hikashop_click_listing tbody td:nth-last-child(1),
	table#hikashop_click_listing th:nth-last-child(1),
	table#hikashop_view_listing tbody td:nth-child(1),
	table#hikashop_view_listing th:nth-child(1),
	table#hikashop_field_listing td:nth-last-child(9),
	table#hikashop_field_listing th:nth-last-child(9),
	table#hikashop_filter_listing tbody td:nth-last-child(1),
	table#hikashop_filter_listing th:nth-last-child(1),
	table#hikashop_filter_listing tbody td:nth-child(1),
	table#hikashop_filter_listing th:nth-child(1),
	table#hikashop_limit_listing td:nth-last-child(3),
	table#hikashop_limit_listing th:nth-last-child(3),
	table#hikashop_limit_listing td:nth-last-child(4),
	table#hikashop_limit_listing th:nth-last-child(4){display: none;}
	#hikashop_main_content #file td.key {white-space: normal;}

	.rightconfig-container-j30{clear:both; margin-left:0px !important;}
	.leftmenu-container-j30{display:none;}
}

@media only screen and (max-width: 640px) {
	table#hikashop_zone_listing td:nth-child(4),
	table#hikashop_zone_listing th:nth-child(4),
	table#hikashop_shipping_manual_listing td:nth-child(4),
	table#hikashop_shipping_manual_listing th:nth-child(4),
	table#hikashop_shipping_manual_listing td:nth-child(6),
	table#hikashop_shipping_manual_listing th:nth-child(6),
	table#hikashop_currency_listing td:nth-child(3),
	table#hikashop_currency_listing th:nth-child(3),
	table#hikashop_badge_listing td:nth-child(8),
	table#hikashop_badge_listing th:nth-child(8),
	table#hikashop_user_listing td:nth-child(6),
	table#hikashop_user_listing th:nth-child(6),
	table#hikashop_vote_listing td:nth-last-child(3),
	table#hikashop_vote_listing th:nth-last-child(3),
	table#hikashop_vote_listing td:nth-last-child(4),
	table#hikashop_vote_listing th:nth-last-child(4),
	table#hikashop_zone_child_listing td:nth-child(7),
	table#hikashop_zone_child_listing th:nth-child(7),
	table#hikashop_cart_listing td:nth-child(6),
	table#hikashop_cart_listing th:nth-child(6),
	table#hikashop_cart_listing td:nth-child(8),
	table#hikashop_cart_listing th:nth-child(8),
	table#hikashop_product_file_table tbody td:nth-last-child(1),
	table#hikashop_product_file_table th:nth-last-child(1),
	table#hikashop_category_listing tbody td:nth-child(1),
	table#hikashop_category_listing th:nth-child(1),
	table#hikashop_category_listing tbody td:nth-last-child(1),
	table#hikashop_category_listing th:nth-last-child(1),
	table#hikashop_characteristic_values_listing tbody td:nth-last-child(1),
	table#hikashop_characteristic_values_listing th:nth-last-child(1),
	table#hikashop_discount_listing td:nth-child(9),
	table#hikashop_discount_listing th:nth-child(9),
	table#hikashop_banner_listing td:nth-child(4),
	table#hikashop_banner_listing th:nth-child(4),
	table#hikashop_click_listing td:nth-child(5),
	table#hikashop_click_listing th:nth-child(5),
	table#hikashop_view_listing tbody td:nth-last-child(1),
	table#hikashop_view_listing th:nth-last-child(1),
	table#hikashop_field_listing td:nth-last-child(10),
	table#hikashop_field_listing th:nth-last-child(10),
	table#hikashop_filter_listing td:nth-child(5),
	table#hikashop_filter_listing th:nth-child(5),
	table#hikashop_zone_selection_listing tbody td:nth-child(1),
	table#hikashop_zone_selection_listing th:nth-child(1),
	table#hikashop_zone_selection_listing tbody td:nth-last-child(1),
	table#hikashop_zone_selection_listing th:nth-last-child(1),
	table#hikashop_limit_listing td:nth-child(4),
	table#hikashop_limit_listing th:nth-child(4),
	table#hikashop_limit_listing td:nth-child(5),
	table#hikashop_limit_listing th:nth-child(5),
	table#hikashop_modules_selection_listing tbody td:nth-child(1),
	table#hikashop_modules_selection_listing th:nth-child(1),
	table#hikashop_modules_selection_listing tbody td:nth-last-child(1),
	table#hikashop_modules_selection_listing th:nth-last-child(1)  {display: none;}
}

@media only screen and (max-width: 480px) {
	table#hikashop_zone_listing tfoot td:nth-child(1),
	table#hikashop_zone_listing th:nth-child(1),
	table#hikashop_shipping_manual_listing tfoot td:nth-child(1),
	table#hikashop_shipping_manual_listing th:nth-child(1),
	table#hikashop_taxation_listing tfoot td:nth-child(1),
	table#hikashop_taxation_listing th:nth-child(1),
	table#hikashop_taxation_listing td:nth-child(7),
	table#hikashop_taxation_listing th:nth-child(7),
	table#hikashop_taxation_listing td:nth-child(8),
	table#hikashop_taxation_listing th:nth-child(8),
	table#hikashop_currency_listing td:nth-child(5),
	table#hikashop_currency_listing th:nth-child(5),
	table#hikashop_currency_listing td:nth-child(6),
	table#hikashop_currency_listing th:nth-child(6),
	table#hikashop_email_listing td:nth-child(3),
	table#hikashop_email_listing th:nth-child(3),
	table#hikashop_characteristic_listing tfoot td:nth-child(1),
	table#hikashop_characteristic_listing th:nth-child(1),
	table#hikashop_characteristic_listing td:nth-child(5),
	table#hikashop_characteristic_listing th:nth-child(5),
	table#hikashop_zone_child_listing td:nth-child(3),
	table#hikashop_zone_child_listing th:nth-child(3),
	table#hikashop_zone_child_listing td:nth-child(4),
	table#hikashop_zone_child_listing th:nth-child(4),
	table#hikashop_zone_child_listing td:nth-child(5),
	table#hikashop_zone_child_listing th:nth-child(5),
	table#hikashop_badge_listing td:nth-child(4),
	table#hikashop_badge_listing th:nth-child(4),
	table#hikashop_badge_listing td:nth-child(5),
	table#hikashop_badge_listing th:nth-child(5),
	table#hikashop_product_price_table tbody td:nth-last-child(1),
	table#hikashop_product_price_table th:nth-last-child(1),
	table#hikashop_product_file_table td:nth-last-child(3),
	table#hikashop_product_file_table th:nth-last-child(3),
	table#hikashop_discount_listing td:nth-child(7),
	table#hikashop_discount_listing th:nth-child(7),
	table#hikashop_discount_listing td:nth-child(8),
	table#hikashop_discount_listing th:nth-child(8),
	table#hikashop_order_product_listing td:nth-child(3),
	table#hikashop_order_product_listing th:nth-child(3),
	table#hikashop_order_history_listing tbody td:nth-child(1),
	table#hikashop_order_history_listing th:nth-child(1),
	table#hikashop_order_history_listing td:nth-child(2),
	table#hikashop_order_history_listing th:nth-child(2),
	table#hikashop_banner_listing td:nth-child(5),
	table#hikashop_banner_listing th:nth-child(5),
	table#hikashop_click_listing td:nth-child(4),
	table#hikashop_click_listing th:nth-child(4),
	table#hikashop_field_listing td.hikashop_field_table_value,
	table#hikashop_field_listing th#hikashop_field_table_title,
	table#hikashop_filter_listing td:nth-child(4),
	table#hikashop_filter_listing th:nth-child(4),
	table#hikashop_zone_selection_listing td:nth-child(5),
	table#hikashop_zone_selection_listing th:nth-child(5),
	table#hikashop_zone_selection_listing td:nth-child(6),
	table#hikashop_zone_selection_listing th:nth-child(6),
	table#hikashop_modules_selection_listing td:nth-child(3),
	table#hikashop_modules_selection_listing th:nth-child(3)   {display: none;}

	.expand-filters {width:100% !important; float:none !important; }
}

@media only screen and (max-width: 320px) {
	table#hikashop_shipping_manual_listing td:nth-child(5),
	table#hikashop_shipping_manual_listing th:nth-child(5),
	table#hikashop_field_listing td:nth-last-child(3),
	table#hikashop_field_listing th:nth-last-child(3),
	table#hikashop_zone_selection_listing td:nth-child(7),
	table#hikashop_zone_selection_listing th:nth-child(7),
	table#hikashop_zone_selection_listing td:nth-child(8),
	table#hikashop_zone_selection_listing th:nth-child(8)   {display: none;}
}

#hikashop_main_content .input-append {
	display: inline-block;
	vertical-align:middle;
	margin-right:5px;
}


.leftmenu-container {
	float:left;
	width:290px;
	height:100%;
}
.rightconfig-container {
	margin-left: 300px;
}
.config-menu{
	width:280px;
	background-color: #fff;
	border: solid 1px #ccc;
}
.menu-save-button, .menu-scrolltop{
	display: none;
}
.navmenu-fixed {
	top: 25px;
	position: fixed;
}
.config-menu li{
	padding: 2px 0 2px 0;
	color: #146295;
	font-size: 1.182em;
	font-weight: bold;
}



.hika-navbar-ul{
	border: solid 1px #BFBFBF;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
	box-shadow: 1px 1px 5px #BFBFBF;
	width:280px;
	margin-left: 0px;
	background-color:white;
}
ul.hika-navbar-ul.affix {
	top:100px;
}
.hika-navbar-ul li{
	border-bottom: solid 1px #BFBFBF;
	font-size: 14px;
	list-style-type: none;
	cursor: pointer;
	min-height: 35px;
}
.hika-navbar-ul li:hover{
	border-bottom: solid 1px #BFBFBF;
	list-style-type:none;
	background-color: #EEEEEE;
}
.hika-navbar-ul .active{
	border-bottom: solid 1px #BFBFBF;
	list-style-type:none;
	background-color: #0088CC;
}
.hika-navbar-ul .active a{
	color: #fff;
}
.hika-navbar-ul li a{
	float:left;
	width:85%;
	min-height: 25px;
	padding-top: 10px;
	padding-left: 20px;
}
.hika-navbar-ul .icon-chevron-right{
	float: right;
	color: lightgrey;
}
.scrollTop_img {background-image:url(../images/icons/icon-up2.png); background-repeat: no-repeat;}
.menuSave_img {background-image:url(../images/icons/icon-apply2.png); background-repeat: no-repeat;}
.responsive_menu_scrolltop {background-image:url(../images/icons/icon-up1.png); background-repeat: no-repeat; margin:auto;}

