@CHARSET "UTF-8";

.gcworkflow-pagination-block {
	float:left;
	width:100%;
}

.gcworkflow-content-block {
	float:left;
	width:100%;
}

.gcworkflow-button {
	border: 1px solid black;
	margin: 2px;
	padding: 0px;
	background: #EEE;
}

.gcworkflow-button-active {
	background: #FFF;
}

.gcworkflow-button:hover {
	border: 1px solid red;
	background: #CCC;
}

.gcworkflow-pagination-button {
	border: 1px solid red;
	float:left;
	border: 1px solid black;
	margin: 2px;
	padding: 0px;
	background: #EEE;
}

.gcworkflow-pagination-button-active {
	float:left;
	border: 1px solid red;
	margin: 2px;
	padding: 0px;
	background: #FFF;
}

.gcworkflow-pagination-button:hover {
	background: #CCC;
}

.progressBarLargeWrap{
	width: 100%;
	margin:10px 10px 10px 10px;
	min-height:50px;
	border: 1px black solid;
	display:inline-block;
}

.progressBarInnerOk {
	float: left;
	width:16%;
	height:48px;
	border: 1px black solid;
	background:#00CC00;
	display:block; 
}

.progressBarInnerOk p {
	font-weight: 700;
	font-size:12px;
	text-align:center;
	color: white;
}

.progressBarInnerDead {
	float: left;
	width:16%;
	height:48px;
	border: 1px black solid;
	background:red;
	display:block; 
}

.progressBarInnerDead p {
	font-weight: 700;
	font-size:12px;
	text-align:center;
	color: white;
}