#trash{
	background-color:#FFF;
	height:25px;
	width: 220px;
	border: 1px solid #CCC;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	margin-top: 20px;
	font-size:95%;
	line-height:25px;
}

.close{
	background-color:#FFF;
	cursor:pointer;
	height:23px;
	width: 220px;
	border: 1px solid #CCC;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	background-image:url('../images/close-24x24.png');
	background-position: 7px;
	background-repeat:no-repeat;
	margin-top: 5px;
	font-size:95%;
}

#close:hover{
	background-color:#CCC;
	color:#FFF;
}

#trash-txt{
	background-image:url('../images/trash-16x16.png');
	margin-left: 10px;
	margin-right: 10px;
	background-position: left center;
	background-repeat:no-repeat;
	padding-left: 20px;
	line-height:25px;
}

#close-txt{
	margin-left: 5px;
	margin-right: 10px;
	background-position: left center;
	background-repeat:no-repeat;
	padding-left: 25px;
	line-height:23px;
}

#items {
   margin: 0px;
   width:220px;
   border:1px solid #FFF;
}

.item {
	float: left;
	overflow:hidden;
	border: 0px;
}

.over {
    background-color: #cedae3;
}

.out {
    background-color: #a6bcce;
}

.info {
    border: 1px solid;
    margin: 5px 0px;
    padding:10px 10px 10px 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
	background-image:url('../images/info-24x24.png');	
}

.warning {
    border: 1px solid;
    margin: 5px 0px;
    padding:10px 10px 10px 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #000;
	font-weight:bold;
    background-color: #fed732;
	background-image:url('../images/warning-24x24.png');	
}

#failed{
    color: #FF0000;
	text-align:center;	
	heigth: 25px;
	width:100%;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;	
	padding: 8px 0px 8px 0px;
	background-color:#f5f5f7;
}

#success{
    color:#0C0;
	text-align:center;
	heigth: 25px;
	width:100%;
	border-top: 1px solid #0C0;
	border-bottom: 1px solid #0C0;	
	padding: 8px 0px 8px 0px;	
	background-color:#f5f5f7;
}

/* ITEMS BELOW MAY NOT BE CHANGED AS THEY ARE BEING USED BY THE AJAX SCRIPTS!! */
/* WE CAN'T GUARANTEE A PROPER WORKING WHEN CHANGING THIS!! */
/* THE ONLY THING YOU MAY CHANGE IS THE COLORS OR BORDER THICKNESS*/

.seat-element {
	/* PLEASE DO NOT CHANGE */
	border:1px #198d02 solid;
	background-color:#e1fdda;
	cursor:pointer;
	font-size:9px;
	color:#000;
	text-align:center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.seat-element:hover {
	background-color:#daf5fd;
	cursor:pointer;
	border:1px #CCC solid;
}

.seat-choice {
	/* PLEASE DO NOT CHANGE */
	border:1px #CCC solid;
	background-color:#e1fdda;
	cursor:none;
	width:23px;
	height:23px;
	color:#000;
	text-align:center;
	line-height:24px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
