.button_rdticketmaster {
	background-color:#FFF;
	border: 1px solid #CCC;
	-moz-border-radius:1px;
	cursor:pointer;
	-webkit-border-radius:1px;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:3px 8px 3px 8px;;
	text-decoration:none;
}

.button_rdticketmaster:hover {
	background-color:#e8f6fe;
	border: 1px solid #CCC;
	color:#000000;
	
}.button_rdticketmaster:active {
	position:relative;
	top:1px;
}

/* HERE IS THE NEW STYLE ROUNDED CORNER VIEW */

.ticktmaster_box_heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    padding: 8px 10px 7px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
	height:14px;
	background-color:#3a87ad;
}

.ticktmaster_box_heading a{
    color: #FFF;
}

.ticktmaster_box_heading_text {
	float:right;
	position:absolute;
	position:fixed;
	margin-left:80%;
	color: #FFF;
}

.ticktmaster_box_content {
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
    padding: 10px;
    margin: 0px 0px 15px 0px;
}

.ticktmaster_box_content_footer{
	width: 100%;
	height: 25px;
}