/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

/*toggle*/
div.seblod fieldset.toggle{background-color:#FFFFFF;}
fieldset.toggle label.selected{background: none repeat scroll 0 0 #00416a;color: #ffffff;}
fieldset.toggle label.disabled, fieldset.toggle label.disabled:hover{background: none repeat scroll 0 0 #ffffff;border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 0px; border-color:#dedede; border-style: solid;color: #cccccc;text-decoration: line-through; cursor: default!important;}
fieldset.toggle label{background: none repeat scroll 0 0 #f1f1f1;border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 0px; border-color:#dedede; border-style: solid; color: #00416a;}
fieldset.toggle label:hover{background-color: #00416a;color: #ffffff;}
fieldset.toggle label.first{border-left: 1px solid #dedede !important; -webkit-border-top-left-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-radius-topleft:2px; -moz-border-radius-bottomleft:2px; border-top-left-radius:2px; border-bottom-left-radius:2px;}
fieldset.toggle label.last{-webkit-border-top-right-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-radius-topright:2px; -moz-border-radius-bottomright:2px; border-top-right-radius:2px; border-bottom-right-radius:2px;}

.loading{top:68px!important;}

/*sortable*/
ul.sortable li{background-color: #f1f1f1 ;border: 1px solid #dedede ; -moz-border-radius: 2px 2px 2px 2px;-webkit-border-radius: 2px 2px 2px 2px;border-radius:2px;}
ul.sortable li.div_clear{}
ul.sortable li span.title{color: #00416a !important;}
ul.sortable li span.subtitle{color: #999 !important;}
ul.sortable li.panel_slider span.title{color: #000000 !important;}
ul.sortable li.drop-highlight{background-color: #ffffff !important;border: 1px dashed #dedede !important;}
li.ui-selecting{background: #ffffcc !important;}
li.ui-selected{background: #ffffcc !important;}
li.ui-sortable-helper{background: #ffffcc !important;}
ul.sortable li.t-tabs{background-color: #dedede;}
/*li:hover.ui-selectee{border-color: #bbbbbb !important;}*/
ul.sortable li.position{background-color: #00416a !important;}
ul.sortable li.position span.title{color: #ffffff !important;}
div.seblod .selector{background-color: #00416a !important;border-color: #00416a !important;}
div.seblod .thin.blue{background-color: #ffffff;border-color: #00416a;color: #00416a;}
div.pane span.text.blue{color: #00416a;!important;}
div.pane span.c_live2, div.pane span.c_comp, div.pane span.c_cond, div.pane span.c_val{cursor: pointer;font-size:0.95em;}
div.pane span.c_live2:hover, div.pane span.c_comp:hover, div.pane span.c_cond:hover, div.pane span.c_val:hover{text-decoration:underline;}
div.seblod input[type="radio"].selector:checked{color: #f1f1f1 !important;}
ul.sortable_header li{color: #ffffff !important;}
ul.sortable_header li div.pane div{background-color: #00416a !important;border-left: 1px solid #00416a !important;border-right: 1px solid #00416a !important;border-top: 1px solid #00416a !important;}

ul.sortable li.field div.drag{background: url(images/grip.png) no-repeat scroll 0 0 transparent;}
ul.sortable li.field div:hover.drag{background: url(images/grip.png) no-repeat scroll 0 -14px transparent;}
ul.sortable li.field div.drag {cursor: move;height: 14px;position: absolute;right: 3px;top: 8px;width: 23px;}
div#seblod-main ul.sortable li.field div.move{cursor: pointer;height: 17px;position: absolute;right: 28px;top: 7px;width: 16px;}
div#seblod-main ul.sortable li.field div.move{background: url(images/arrow.png) no-repeat scroll 0 0 transparent;}
div#seblod-main ul.sortable li.field div:hover.move{background: url(images/arrow.png) no-repeat scroll 0 -17px transparent;}
div#seblod-sidebar ul.sortable li.field div.move{background: url(images/arrow.png) no-repeat scroll 0 -34px transparent;}
div#seblod-sidebar ul.sortable li.field div:hover.move{background: url(images/arrow.png) no-repeat scroll 0 -51px transparent;}
div#seblod-sidebar ul.sortable li.field div.move{cursor: pointer;height: 17px;position: absolute;right: 28px;top: 7px;width: 16px;}

ul.sortable li span.c_var {color: #f1f1f1; cursor: pointer; font-weight: normal; font-size: 15px; position: relative; top: 2px;}
ul.sortable li span.c_live, ul.sortable li span.c_mat, ul.sortable li span.c_link, ul.sortable li span.c_typo, ul.sortable li span.c_res{color: #00416a; cursor: pointer; font-weight: normal; font-size: 15px; position: relative; top: 2px;}
ul.sortable li span.c_live2{}

ul.sortable li.field a.edit{background: url(images/edit.png) no-repeat scroll 0 0 transparent;}
ul.sortable li div.pane div.col1{height: 30px;right: 299px;}
ul.sortable li div.pane div.col2{height: 30px;right: 49px;}
ul.sortable li div.pane div{color: #ffffff; font-weight: bold;}

a:link.icons.icon-add, a:link.icons.icon-add2, a:link.icons.icon-right, a:link.icons.icon-left, a:link.icons.icon-up, a:link.icons.icon-down,
a:visited.icons.icon-add, a:visited.icons.icon-add2, a:visited.icons.icon-right, a:visited.icons.icon-left, a:visited.icons.icon-up, a:visited.icons.icon-down{background: url(images/icons.png);}
div#seblod-sidebar a.panel { float:left; width:20px; height:20px; text-align:center; cursor:pointer; font-size:14px !important; font-weight:bold; font-style:italic;
	line-height:20px; border:1px solid #dedede; text-decoration:none !important; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius:2px;
	-webkit-transition:background-color 0.3s linear; -moz-transition:background-color 0.3s linear; -o-transition:background-color 0.3s linear; transition:background-color 0.3s linear; }
div#seblod-sidebar a.panel{background: none repeat scroll 0 0 #f1f1f1; color: #00416a;}
div#seblod-sidebar a.panel:hover{background-color:#00416a; color:#ffffff;}
div#seblod-sidebar a.panel.selected{background-color:#00416a; color:#ffffff;}

/*sidebar*/
a:link.icons.icon-add, a:visited.icons.icon-add{background-position: 0 0;}
a:hover.icons.icon-add{background-position: 0 -20px;}
a:link.icons.icon-add2, a:visited.icons.icon-add2{background-position: 0 -200px;}
a:hover.icons.icon-add2{background-position: 0 -220px;}
a:link.icons.icon-right, a:visited.icons.icon-right{background-position: 0 -40px;}
a:hover.icons.icon-right{background-position: 0 -60px;}
a:link.icons.icon-left, a:visited.icons.icon-left{background-position: 0 -80px;}
a:hover.icons.icon-left{background-position: 0 -100px;}
a:link.icons.icon-up, a:visited.icons.icon-up{background-position: 0 -120px;}
a:hover.icons.icon-up{background-position: 0 -140px;}
a:link.icons.icon-down, a:visited.icons.icon-down{background-position: 0 -160px;}
a:hover.icons.icon-down{background-position: 0 -180px;}
a:link.icons.icon-toggle, a:visited.icons.icon-toggle{background-position: 0 -200px;}
a:hover.icons.icon-toggle{background-position: 0 -220px;}

/* Joomla 3.x */
div.row-fluid div.span12 ul.sortable li.position,
div.row-fluid div.span12 fieldset.toggle label:hover,
div.row-fluid div.span12 fieldset.toggle label.selected{
	background-color: #184a7d;
	background-image: -moz-linear-gradient(top,#17568c,#1a3867);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#17568c),to(#1a3867));
	background-image: -webkit-linear-gradient(top,#17568c,#1a3867);
	background-image: -o-linear-gradient(top,#17568c,#1a3867);
	background-image: linear-gradient(to bottom,#17568c,#1a3867);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff17568c', endColorstr='#ff1a3867', GradientType=0);
}
div.row-fluid div.span12 ul.sortable_header li div.pane > div{background-color:#17568C!important;}
div.row-fluid div.span12 ul.sortable_header li div.pane{top:-15px;}