/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

div.seblod{background-color: #FFFFFF;border: 1px solid #dedede; -moz-border-radius: 2px 2px 2px 2px;-webkit-border-radius: 2px 2px 2px 2px;border-radius:2px;}
div.seblod input.inputbox:focus, div.seblod select.inputbox:focus, div.seblod textarea.inputbox:focus {background-color: #ffffdd;}
div.seblod .inputbutton:hover {background-color: #ffffdd;}
.bg-dark {background:#f4f4f4; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
/*adminlist*/
table.adminlist tbody tr.row0:hover td, table.adminlist tbody tr.row1:hover td {background-color: #ffffdd!important;}
/*cpanel*/
div.pane-slider #cpanel div.icon a {-moz-border-radius: 2px 2px 2px 2px!important;-webkit-border-radius: 2px 2px 2px 2px!important;border-radius:2px!important;border-color:#dedede!important;}
div.pane-slider #cpanel div.icon a:hover, #cpanel div.icon a:focus, #cpanel div.icon a:active {-webkit-border-bottom-left-radius: 50% 20px!important;;-moz-border-radius-bottomleft!important;:50% 20px;border-bottom-left-radius:50% 20px!important;}
/*submenu*/
.lavaLampNoImage li.back {background-color:#ffffff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
/*button*/
a.togglebutton {padding: 3px 8px; margin-left: 10px; text-decoration: none; background-color: #f1f1f1; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius:2px; -webkit-transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; transition: background-color 0.3s linear; border: 1px solid #dedede; color: #00416a!important;}
a:hover.togglebutton {padding: 3px 8px; margin-left: 10px; color: #ffffff!important; text-decoration: none; background-color: #00416a; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius:2px;}
/*tooltip*/
/*
.ui-tooltip-cck-indigo_dye .ui-tooltip-titlebar, .ui-tooltip-cck-indigo_dye .ui-tooltip-content{border-color: #ccc!important; color: #888!important;}
.ui-tooltip-cck-indigo_dye .ui-tooltip-content{background-color: #f4f4f4!important;}
.ui-tooltip-cck-indigo_dye .ui-tooltip-titlebar{background-color: #f4f4f4!important; border-bottom: 1px solid #ccc!important; color: #888!important;}
.ui-tooltip-cck-indigo_dye .ui-tooltip-icon{border-color: #ccc!important;}
.ui-tooltip-cck-indigo_dye .ui-tooltip-titlebar .ui-state-hover{border-color: #ccc!important;}
*/

/*pane-sliders*/
div.seblod-less .pane-sliders {margin-top:0;}
div.seblod-less .pane-sliders .panel {border: none !important;margin-bottom:0;}
div.seblod-less .pane-sliders .panel h3 {background-color:#ffffff !important; padding:8px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #dedede; margin-bottom:8px}
div.seblod-less .pane-sliders .panel h3 a:link {color:#146295;}
div.seblod-less .pane-sliders .panel div.content.pane-down {background-color:#ffffff !important; margin-top:0; margin-bottom:8px; padding:5px;
															-webkit-border-radius:2px; -moz-border-radius: 2px; border-radius:2px; border: 1px solid #dedede!important;}
div.seblod-less .pane-sliders .panel div.seblod {margin-bottom:0!important;border:0;}

/* Joomla 3.x */
body.com_cck div.seblod,
body.com_cck_ecommerce div.seblod,
body.com_cck_webservices div.seblod,
body.contentpane.component div.seblod{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}