@CHARSET "UTF-8";
p {text-align:center; font-size:14px; line-height:1em; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
table{width:100%;}
p.appMessage{color:red;font-weight:bold;}
.configTextField{width:100%;}
.leftAlignText{text-align:left;}
.gcbutton{ min-height: 40px; font-size:14px; color:white; background:gray; border: 1px black solid;}
.gcbutton:hover { color:black; background: white; border: 1px black solid; cursor:pointer; }
.gcbutton:visited { color:black; }
.gcbutton:active { color:black; }
.gcbuttonsml{ float:left; font-size:14px; color:white; background:gray; border: 1px black solid;}
.gcbuttonsml:hover { color:black; background: white; border: 1px black solid; cursor:pointer; }
.gcbuttonsml:visited { color:black; }
.gcbuttonsml:active { color:black; }
h3 {margin:0px;padding:0px; text-align: center; }

ul.oudce_apps_navigation {
    display:block;
    width: 100%;
    list-style-type: none;
}

ul.oudce_apps_navigation li {
    display:block;
    width: 25%;
}