#admin {
	margin:20px auto auto auto;
	heigth: 30px;
	text-align:center;
}

#respond{
	color:#fff;
	margin:0 auto 0 auto;
	width:960px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
}

.styled-select{
   background: transparent;
   padding: 3px;
   font-size: 11px;
   border: 1px solid #333;
   -moz-border-radius:1px;
   -webkit-border-radius:1px;   
   border-radius:3px;
   margin-left:3px;
}

.styled-imputbox{
   background: transparent;
   padding: 3px;
   font-size: 11px;
   border: 1px solid #333;
   -moz-border-radius:1px;
   -webkit-border-radius:1px;   
   border-radius:3px;
   margin-left:3px;	
}

.button_rdsubs {
	background-color:#FFF;
	border: 1px solid #333;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	background-image:url('../images/add-icon.png');
	background-position:5px 3px;
	background-repeat:no-repeat;
	font-weight:bold;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:4px 8px 4px 25px;;
	text-decoration:none;
	margin:3px;
}

.button_rdsubs:hover {
	background-color:#CCC;
	color:#000000;
	
}.button_rdsubs:active {
	position:relative;
	top:1px;
}



.button_rdsubs-remove {
	background-color:#FFF;
	border: 1px solid #333;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	background-image:url('../images/remove-icon.png');
	background-position:5px 3px;
	background-repeat:no-repeat;
	font-weight:bold;
	border-radius:3px;
	display:inline-block;
	color:#333;
	padding:4px 8px 4px 25px;;
	text-decoration:none;
	margin:3px;
}

.button_rdsubs-remove:hover {
	background-color:#CCC;
	color:#000000;
	
}.button_rdsubs-remove:active {
	position:relative;
	top:1px;
}

