/**
* @version 			SEBLOD 3.x Core
* @package			SEBLOD (App Builder & CCK) // SEBLOD nano (Form Builder)
* @url				http://www.seblod.com
* @editor			Octopoos - www.octopoos.com
* @copyright		Copyright (C) 2013 SEBLOD. All Rights Reserved.
**/

.cck-debug{border:1px solid #ccc; background:#f1f1f1;float:left; width:100%;}
.cck-debug legend{border:1px solid #ccc; background:#fff; margin:0 0 0 10px;padding:0 3px;}

.cck-row{float:left;}

/* Cancel item.css from seblod in /media/cck/css/cck.item.css */
/* div.vertical div.cck_contents{width: auto;} */
div.cck_contents.cck_item div.cck_value.cck_value_wysiwyg_editor p{margin: 0;padding: 0;}
div.cck_contents.cck_item div.cck_value.cck_value_wysiwyg_editor{margin: 0;padding: 0;}
