@CHARSET "UTF-8";
p {text-align:center; font-size:14px; line-height:1em; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
table{width:100%;}
p.appMessage{color:red;font-weight:bold;}
.configTextField{width:100%;}
.leftAlignText{text-align:left;}
.gcbutton{ min-height: 40px; font-size:14px; color:white; background:gray; border: 1px black solid;}
.gcbutton:hover { color:black; background: white; border: 1px black solid; cursor:pointer; }
.gcbutton:visited { color:black; }
.gcbutton:active { color:black; }
.gcbuttonsml{ float:left; font-size:14px; color:white; background:gray; border: 1px black solid;}
.gcbuttonsml:hover { color:black; background: white; border: 1px black solid; cursor:pointer; }
.gcbuttonsml:visited { color:black; }
.gcbuttonsml:active { color:black; }
h3 {margin:0px;padding:0px; text-align: center; }

.contentWrap{ width: 100% }
.contentWrap .contentTitle { width: 100%; float:left; }
.contentWrap .contentTitle .titleLeft { width: 50%; float:left; }
.contentWrap .contentTitle .titleLeft .titleLeft1 { width: 50%; float:left; }
.contentWrap .contentTitle .titleLeft .titleLeft2 { width: 50%; float:left; }
.contentWrap .contentTitle .titleRight { width: 50%; float:left; }
.contentWrap .contentBody { width: 100%; float:left; }
.contentWrap .currentFilesWrap { height: 420px; border: 1px #CCC solid; float:left; margin: 0px 10px 0px 0px; width:17%; overflow-x:auto;}
.contentWrap .checkboxHolderWrap { float:left; overflow-x: scroll; overflow-y :hidden; height: 420px; border: 1px #CCC solid; width: 80%; }
.contentWrap .checkBoxHolderColumn { width:33%; float:left; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapTitle { width:100%; float:left; height:25px; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody { width:100%; float:left; height:370px;  }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide { float:left; padding: 5px; height:360px; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder { min-width: 175px; height: 350px; float:left; border: 1px #CCC solid; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder .checkboxholderTitle { width: 100%; float:left; margin: 0;}
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder .checkboxholderTitle h3 { text-align:center; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder .checkboxholderBody { width:100%; float:left; margin: 0; padding-bottom:10px;}
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder select { display: block; margin: 0 auto; overflow:auto; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder select option { font-size:14px; width:90%; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder select option.dir { background:green; }
.contentWrap .checkboxHolderWrap .checkboxHolderWrapBody .checkboxHolderWrapBodyInnerWide .checkboxholder select option.file { background:none; }
.contentWrap .datatableHolderWrapWrap { width:100%; height: 370px; border: 1px #CCC solid; }
.contentWrap .datatableHolderWrap { width:48%; height: 360px; /* border: 1px #CCC solid;*/ float:left; }
.contentWrap .overwhy { overflow-y :scroll;  }
.contentWrap .datatableHolderWrap .datatableHolderWrapTitle { width:100%; float:left; padding: 5px; height:25px; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody { width:100%; float:left; padding: 5px; height:340px; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder {height: 300px; float:left; overflow: scroll; border: 1px #CCC solid; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder .datatableholderTitle { width: 100%; float:left; margin: 0;}
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder .datatableholderTitle h3 { text-align:center; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder .datatableholderBody { width:100%; float:left; margin: 0; padding-bottom:10px;}
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder ul { display: block; margin: 0 auto; width:90%; list-style-type:none; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder ul li input{ position:relative; top: 3px; }
.contentWrap .datatableHolderWrap .datatableHolderWrapBody .datatableholder ul li p.minimargins{ margin: 5px 0px 5px 0px; }

.checkboxholderBody {float:left;}

div.currentFilesWrap div.entryrow { width:100%; float:left; margin: 0px 0px 3px 0px;}
div.currentFilesWrap div.entryrow div.left { width:25px; float:left; }
div.currentFilesWrap div.entryrow div.left input{ width:25px; height:25px; }
div.currentFilesWrap div.entryrow div.right { width:175px; min-height:25px; float:left; }
div.currentFilesWrap div.entryrow div.right p{ width:none; font-size:11px; text-align:left; }

.contentWrap .datatableActionHolderWrap { overflow-y :scroll; height: 370px; border: 1px #CCC solid; }
.contentWrap .datatableActionHolderWrapLeft { float:left; width: 70%; }
.contentWrap .datatableActionHolderWrapRight { float:left; width: 30%; }
.contentWrap .datatableActionHolderWrap .datatableActionHolderWrapTitle { width:100%; float:left; height:25px; }
.contentWrap .datatableActionHolderWrap .datatableActionHolderWrapBody { width:90%; float:left; margin: 0px 5% 0px 5%; height:340px; }
.contentWrap .datatableActionHolderWrap .datatableActionHolderWrapBody .datatableActionHolderWrapBodyInnerWide { width:100%; float:left; }
.datatable-action { min-height: 50px; border: 1px #CCC solid; width: 100%; margin: 10px 0px 10px 0px; }
.datatable-action .tblrow { width: 100%; }

.configurationNotice {color: red; }